<link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
<script src="/assets/jquery.validate.min.js"></script>
<link href="/assets/main.css" rel="stylesheet">
<!--Middle content starts here-->
<section id="midd-container">
  <div class="user-prf-sec">
    <div class="fixed-wrapper">
      <div class="inbox">
        <div class="corner3"></div>
        <h1><%=t (:profile_setting)%></h1>
      </div>
      <div class="user-prf-row1">
        <div class="user-prf-left">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: "alert alert-info" %>
            <% end %>
            <div class="vol-img-lft">
              <div class="photoSettings">
                <li>
                  <% if current_user.image_file_name.present? %><%= image_tag current_user.image.url, style: "border: 4px solid #67aa4d;border-radius: 6px;" %>
                  <% else %> <%= image_tag 'no-img.jpg', style: "width: 100%;" %>
                  <% end %>
                  <%= f.file_field :image, value: "CHANGE AVATAR", :class=> "user_image", :style=> "display:none;"%>
                  <button id="falseinput">CHANGE AVATAR</button>
                  <button id="view_user_foundation">VIEW MY FOUNDATION PROFILES</button>
                  <%= link_to 'VIEW MY FOUNDATION PROFILES', user_foundations_path, data: { fancybox_width: 600 }, class: 'fancybox view_foundation', :id => "view_foundation", :style=> "display:none;"%>
                </li>
              </div>
            </div>
            <div class="user-prf-left-cont">
              <div class="nameSettings"> <%= f.text_field :first_name, :required => true, :placeholder => "First Name" %> </div>
              <br/>
              <div class="city">
                <%= f.text_field :city, :placeholder => "City" %>
              </div>
              <div class="state">
                <%= f.text_field :state, :placeholder => "State" %><br />
              </div>
              <span><label id="city_error" for="city" generated="true" class="error">This field is required.</label>
              <label id="state_error" for="state" generated="true" class="error">This field is required.</label> </span>
              <div class="description">
                <%= f.text_area :description, :placeholder => "Description", :required => true %>
              </div>
              <input type="button" value="Reset" class="reset-btn">
              <%= f.submit "Save" %>
            </div>
          <% end %>
        </div>
        <div class="user-prf-rgt"> <strong>Volunteered:</strong>
          <p><span><% if user_signed_in? %><%= current_user.events.count %><% end %></span> times</p>
          <p><span>
            <% if user_signed_in? %>
		          <% @hours = [] %>
              <% current_user.events. each do |event| %>
                <% @hours << volunteers_works_hours(event).first %>
              <% end %>
              <% end %>
            <%= @hours.join("','").present? ? @hours.join("','") : 0 %>
          </span> hours
          </p><br/>
          <p><span><% if user_signed_in? %><%= @supporters.present? ? @supporters.count : 0 %><% end %></span> Supporters </p>
        </div>
        <div class="foundCreate">
          <button>CREATE YOUR<br/>FOUNDATION PROFILE</button>
        </div>
      </div>
      <div class="user-photos-row">
        <ul>
          <div class="photoSettings">
            <% if @user_pictures.present? %>
              <% picture = 4 - @user_pictures.size %>
              <% @user_pictures.each do |user_picture|%>
                <li>
                  <%= image_tag user_picture.image.url, style: "width: 100%;" %>
                  <%= button_to "CHANGE PHOTO", 'javascript:;', :class=> "change_user_image", :id=> "#{user_picture.id}" %>
                  <%= form_for user_picture, url: update_path, :html => {:class => 'user_images'}  do |f| %>
                    <%= f.hidden_field :user_picture_id, :value => user_picture.id %>
                    <br><%= f.file_field :image, :class=>"upload_image" %> <br>
                    <span><%= f.submit "Save", :class=>"save_user_image" %></span>
                    <span><input class="cancle_user_image" type="submit" value="Cancel"></span>
                    </li>
                  <% end %>
              <% end %>
              <% 1.upto(picture) do |i| %>
                <li><%= image_tag 'photoImg.jpg', alt: "" %>
                  <!--<img src="/assets/photoImg.jpg" alt="">-->
                  <%= button_to "CHANGE PHOTO", 'javascript:;', :class=>"change_user_new_image", :id => "#{i}" %>
                  <%= form_for @picture, url: update_path, :html => {:class => 'user_new_images', :id=> "new_user_picture_#{i}"}  do |f| %>
                    <br><%= f.file_field :image, :class=>"upload_new_image" %> <br>
                    <%= f.submit "Save", :class=>"save_new_user_image" %>
                    <span><input class="cancle_user_image" type="submit" value="Cancel"></span>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <% 1.upto(4) do |i| %>
                <li><%= image_tag 'photoImg.jpg', alt: "" %>
                  <%= button_to "CHANGE PHOTO", 'javascript:;', :class=>"change_user_new_image", :id => "#{i}" %>
                  <%= form_for @picture, url: update_path, :html => {:class => 'user_new_images', :id=> "new_user_picture_#{i}"}  do |f| %>
                    <br><%= f.file_field :image, :class=>"upload_new_image" %> <br>
                    <%= f.submit "Save", :class=>"save_new_user_image" %>
                    <span><input class="cancle_user_image" type="submit" value="Cancel"></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!--photo section ends-->
  <div class="volunteer-full float-full user-prf-vol">
    <div class="fixed-wrapper">
      <div id="volunteers">
        <div class="corner"></div>
        <h1><%=t (:my_supporters)%></h1><br/>

        <div class="volBox">
          <% if @user_supporters.present? %>
            <% @user_supporters.in_groups_of(3, false) do |user_support| %>
              <% for user in user_support %>
                <div class="supporters">
                  <% if user.friend.present? && user.friend.image.present? && user.friend != current_user %>
                    <%= image_tag user.friend.image.url(:medium), style: "height: 65px;" %>
                    <h2><%= link_to user.friend.last_name_initial.capitalize, user_profile_path(:id => user.friend.id) %></h2>
                    <%= button_to 'Remove', remove_friend_path(:friend_id => user.friend.id, :user_id => current_user.id), :method => :post, :class=>"remove-btn" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h2 align="center" style="margin: 100px;"><b><%= t(:no_supporter) %></b></h2>
          <% end %>
        </div>
      </div>
    </div>
    <!--mysupporters section ends-->

    <div class="volunteer-full float-full user-prf-vol">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="fixed-wrapper">
          <div id="settings">
            <div class="corner"></div>
            <h1><%=t (:privacy_setting)%></h1><br/>

            <div class="privacyQuestion-left">
              <h2>Permissions:</h2>

              <h2>Can everyone view your profile?</h2>

              <h2>Can everyone view your calendar?</h2>

              <h2>Can everyone invite you to events?</h2>

              <h2>Can everyone view your posts?</h2>

              <h2>Can everyone message you?</h2>

              <h2>Do volunteers need approval to join your gigs?</h2>

              <h2>Do supporters need approval to comment on your posts?</h2>
            </div>
            <div class="switch2">
              <div>
                <%= f.check_box :everyone_view_your_profile, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_view_your_calendar, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_invite_you_to_events, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_view_your_post, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_message_you, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :volunteers_need_approval_join_your_gigs, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :supporters_need_approval_to_comment, :class => "form-control" %>
              </div>
            </div>
            <div class="privacyQuestion">
              <h3>Change your password:</h3>
              <%#= devise_error_messages! %>
              <%= hidden_field_tag :reset_password_token %>
              <%# flash.each do |name, msg| %>
              <%#= content_tag :div, msg, class: "alert alert-info" %>
              <%# end %>
              <label id="success_message_password"><div class="alert alert-info">Password successfully updated.</div></label>
              <label id="blank_message_password"><div class="alert alert-warning">Password & Confirm Password can't be blank.</div></label>
              <label id="not_match_message_password"><div class="alert alert-warning">Password & Confirm Password doesn't match.</div></label>
              <div class="passwordChange">
                <%= password_field_tag 'password', nil, :placeholder => "New Password" %>
                <%= password_field_tag 'password_confirmation', nil, :placeholder => "Confirm Password" %>
                <%= submit_tag "Save", :onclick => "return update_password();" %>
              </div>
            </div>
            <label id="success_message_password"><div class="alert alert-info">Password successfully updated.</div></label>
            <div class="notifications">
              <div class="notificationQuestion">
                <h2>Notifications:</h2>

                <div class="notificationSettings">
                  <%= f.email_field :email, :required => true, :placeholder => "Email" %>
                </div>
                <h2>Email Notifications?</h2>

                <div class="notificationSettings">
                  <%= f.text_field :phone_number, :required => true, :maxlength => "10",  :placeholder => "Phone" %>
                </div>
                <h2>Text/SMS Notifications?</h2>

                <h2>Would you like mobile ping notifications?</h2>
              </div>

              <div class="switch3">
                <div>
                  <%= f.check_box :email_notification, :class => "form-control" %>
                </div>
                <div>
                  <%= f.check_box :sms_notification %>
                </div>
                <div>
                  <%= f.check_box :mobile_ping_notifications %>
                </div>
              </div>
            </div>
          </div>
          <div class="cleat"></div>
          <div class="fixed-wrapper">
            <div class="saveSettings">
              <%= f.submit "Save Privacy Settings" %>
              <input type="button" value="Reset Privacy Settings" class="reset-privacy-setting-btn">
            </div>
          </div>
        </div>
      <% end %>
    </div>
</section>
<!--Middle content ends here-->
<script>
	$('#edit_user').validate();
	$('#foundation_profile').click(function () {
		$("#create_foundation").click();
		return false;
	});
	$('#edit_user').submit(function(){
		if ($('#user_city').val() == "") {
			$('#city_error').show();
			return false;
		}
	});
	$('#edit_user').submit(function(){
		if ($('#user_state').val() == "") {
			$('#state_error').show();
			return false;
		}
	});
	$(function (argument) {
		$('[type="checkbox"]').bootstrapSwitch();
	})
	$('.reset-btn').click(function () {
		$("input[type=text], textarea").val("");
	});
	$('.reset-privacy-setting-btn').click(function () {
		$("input[type=checkbox]").bootstrapSwitch('state', true);

	});
	$(".change_user_image").click(function(){
		$("#edit_user_picture_"+this.id).show();
		$(this).toggle();
	});
	$(".change_user_new_image").click(function(){
		$("#new_user_picture_"+this.id).show();
		$(this).toggle();
	});

	//	Start Validate passsword
	function update_password() {
		if ($('#password').val() == '' || $('#password_confirmation').val() == '') {
			if($('#success_message_password').is(':visible')){
				$('#success_message_password').hide();
			}
			if($('#not_match_message_password').is(':visible')){
				$('#not_match_message_password').hide();
			}
			$('#blank_message_password').show();
		}
		else {
			if($('#password').val().length < 8 || $('#password_confirmation').val().length < 8){
				alert("password size should be min 8 char..");
				$('#password').focus();
				return false;
			}
			if ($('#password').val() == $('#password_confirmation').val()) {
				$.ajax({
					type: 'post',
					url: '/registrations/update_password',
					data: {password: $('#password').val(), password_confirmation: $('#password_confirmation').val()},
					success: function(){
						if($('#blank_message_password').is(':visible')){
							$('#blank_message_password').hide();
						}
						if($('#not_match_message_password').is(':visible')){
							$('#not_match_message_password').hide();
						}
						$('#success_message_password').show();
					}
				});
			}
			else {
				if($('#blank_message_password').is(':visible')){
					$('#blank_message_password').hide();
				}
				if($('#success_message_password').is(':visible')){
					$('#success_message_password').hide();
				}
				$('#not_match_message_password').show();
			}
		}
		$("#password").val("");
		$("#password_confirmation").val("");
		return false;
	}
	//	END  Validate passsword

	$('.cancle_user_image').click(function(){
		window.location.reload();
		return false;
	})
	$('.cancle_new_user_image').click(function(){
		window.location.href='/users/edit';
		return false;
	})
	$('.user_new_images').submit(function(){
		var val = $(".upload_new_image").val();
		if(val == ''){
			alert("Please uploads User image");
			return false;
		}
		else
			return true;
	});
	$('.user_images').submit(function(){
		var val = $("#user_picture_user_picture_+this.id").val();
		if(val == ''){
			alert("Please uploads User image");
			return false;
		}
		else
			return true;
	});

	$('#button').click(function () {
		$("input[type='file']").trigger('click');
	})
	$("input[type='file']").change(function () {
		$('#val').text(this.value.replace(''))
	})
	$('#falseinput').click(function(){
		$("#user_image").click();
		return false;
	});
	$('#view_user_foundation').click(function(){
		$("#view_foundation").click();
		return false;
	});
</script>
<style>
	.error{
		color: red;
		font-size: 12px;
	}
	#city_error{
		font-size: 12px;
		font-weight: normal;
		display: none;
	}
	#state_error{
		font-size: 12px;
	}
	#error_explanation h2 {
		display: none;
	}
	.user_images {
		display: none;
	}
	.user_new_images {
		display: none;
	}
	#success_message_password{
		display: none;
	}
	#blank_message_password{
		display: none;
	}
	#not_match_message_password{
		display: none;
	}
</style>
<script>
	//	$(document).ready( function() {
	//		$('#falseinput').click(function(){
	//			$("#user_image").click();
	//			return false;
	//		});
	//	});
</script>
