<%= stylesheet_link_tag 'bootstrap.min' %>
<%= javascript_include_tag 'jquery.validate.min' %>
<!--<link href="/assets/bootstrap.min.css" rel="stylesheet">-->
<!--<script src="/assets/jquery.validate.min.js"></script>-->
<div class="fixed-wrapper">
  <div class="createGig">
    <div class="corner3"></div>
    <h1>Create A Foundation</h1>
    <%= form_for @new_foundation, :html => { :multipart => true } do |f| %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <div class="createGig-left">
        <% if @new_foundation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@new_foundation.errors.count, "error") %> prohibited this foundation from being saved:</h2>
            <ul>
              <% @new_foundation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.text_field :name, :placeholder => 'Gig Name *', :required => true %><br/>
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle user_role"><span id="dropdown_user_role">Your Role<span>*</span><b class="caret"></b></a>
          <ul class="dropdown-menu user_role">
            <li><a>Group Leader</a></li>
            <li><a>Volunteer</a></li>
          </ul>
          <%= hidden_field_tag :user_role %>
        </div>
        <label id="foundation_user_role_error" for="user_role" generated="true" class="error">This field is required.</label>
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle foundation"><span id="dropdown_foundation">Type of Gig<span>*</span><b class="caret"></b>
          <ul class="dropdown-menu foundation">
            <li><a>Community</a></li>
            <li><a>Environment</a></li>
            <li><a>Health</a></li>
            <li><a>Animals</a></li>
            <li><a>Faith</a></li>
            <li><a>Other</a></li>
          </ul>
            <%= hidden_field_tag :type_of_foundation %>
        </div>
        <label id="foundation_event_type_error" for="type_of_foundation" generated="true" class="error">This field is required.</label>
        <%= f.text_field :city, :placeholder => 'Location *', :required => true %> <br/>
        <div class="date_foundation">
	        <span style="float: left; width: 50%;">
            <%= f.text_field :start_date, :id=> "datepicker", :placeholder=> "Start Date *" %>
	          <label id="foundation_start_date_error" for="start_date" generated="true" class="error">This field is required.</label>
		      </span>
	        <span style="float: right; width: 50%;">
            <%= f.text_field :end_date, :id=> "datepicker1", :placeholder=> "End Date *" %>
	          <label id="foundation_end_date_error" for="end_date" generated="true" class="error">This field is required.</label>
		      </span>
        </div>
        <label id="end_date_is_greater_error" for="end_date" generated="true" class="error">End date must be greater then or equal start to date</label>
        <div class="time_foundation">
	        <span style="float: left; width: 50%;">
            <%= f.text_field :start_time, :class=> "timepicker", :placeholder=> "Start Time *" %> <br />
	          <label id="foundation_start_time_error" for="start_time" generated="true" class="error">This field is required.</label>
		      </span>
	        <span style="float: right; width: 50%;">
            <%= f.text_field :end_time, :class => "timepicker1", :placeholder=> "End Time *"  %>
	          <label id="foundation_end_time_error" for="end_time" generated="true" class="error">This field is required.</label>
		      </span>
          <label id="foundation_start_time_greater_error" for="start_time" generated="true" class="error">Start Time is greater then End time.</label>
          <label id="foundation_current_time_error" for="start_time" generated="true" class="error">Start and End time should be greater than current time for today's date.</label>
        </div>
        <div class='switchQuestions'>
          <div class="questions">
            <h5>Is this recurring?</h5><br/>
            <h5>Is this open to the public?</h5></br>
            <h5>Can anyone volunteer?</h5>
          </div>
          <div class="switch">
            <div>
              <%= f.check_box :recurring, :class=>"form-control" %>
            </div>
            <div>
              <%= f.check_box :open_to_the_public, :class=>"form-control" %>
            </div>
            <div>
              <%= f.check_box :anyone_volunteer, :class=> "form-control"%>
              <!--<input type="checkbox" checked data-on-text="SI" data-off-text="NO">-->
            </div>
          </div>
        </div>
      </div>
      <div class="createGig-right">
        <%= f.text_field :foundation_name, :placeholder => 'Foundation Name (Optional)' %>
        <!--<input type="text" placeholder="Foundation Name (Optional)"/>-->
        <br/>
        <%= f.text_area :basic_info, :placeholder => 'Basic Info *', :required => true %>
        <%= f.text_area :description, :placeholder => 'Full Description *', :required => true %><br/>
        <div class="upload">
          <span><%= file_field_tag "images[]", multiple: true, class: "multi flaticon-upload", :required => true  %></span>
        </div>
        <label id="foundation_image_error" for="image" generated="true" class="error">This field is required.</label>
        <div class="submitCancel">
          <input type="button" value="Cancel", class="btn-cancel"/>
          <%= f.submit "Create Foundation" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
	$('#new_foundation').validate();
	$(function(argument) {
		$('[type="checkbox"]').bootstrapSwitch('onText', 'YES');
		$('[type="checkbox"]').bootstrapSwitch('offText', 'NO');
	})
	$(function() {
		$("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
		$("#datepicker1").datepicker({ dateFormat: 'yy-mm-dd' });
	});
	$(function(){
		$('.multi').MultiFile({
			accept:'gif|jpg',
			max:5,
		});
	});
//	$(function(argument) {
//		$('[type="checkbox"]').bootstrapSwitch();
//	});

	$('.timepicker').timepicker({
		timeFormat: 'h:mm p',
		dynamic: false,
		dropdown: true,
		scrollbar: true
	});
	$('.timepicker1').timepicker({
		timeFormat: 'h:mm p',
		dynamic: false,
		dropdown: true,
		scrollbar: true
	});
	$('.btn-cancel').click(function(){
		window.location.reload();
	})

	$('.user_role').dropdown();
	$('.user_role li').on('click', function() {
		$('#dropdown_user_role').html($(this).find('a').html());
		select_value = $('#dropdown_user_role').text();
		$('#user_role').val(select_value);
	});

	$('.foundation').dropdown();
	$('.foundation li').on('click', function() {
		$('#dropdown_foundation').html($(this).find('a').html());
		select_value = $('#dropdown_foundation').text();
		$('#type_of_foundation').val(select_value);
	});
	//	Show and hide the validation message
	$('#new_foundation').submit(function(){
		if ($('#user_role').val() == "") {
			$('#foundation_user_role_error').show();
			return false;
		}
	});
	$('#new_foundation').submit(function(){
		if ($('#type_of_foundation').val() == "") {
			$('#foundation_event_type_error').show();
			 return false;

		}
	});
	$('#new_foundation').submit(function(){
		if ($('#foundation_start_time').val() == "") {
			$('#foundation_start_time_error').show();
			return false;
		}
	});
	$('#new_foundation').submit(function(){
		if ($('#foundation_end_time').val() == "") {
			$('#foundation_end_time_error').show();
			return false;
		}
	});
	$('#new_foundation').submit(function(){
		if ($('#datepicker').val() == "") {
			$('#foundation_start_date_error').show();
			return false;
		}
	});
	$('#new_foundation').submit(function(){
		if ($('#datepicker1').val() == "") {
			$('#foundation_end_date_error').show();
			return false;
		}
	});
	$('#new_foundation').submit(function(){
		if ($('.multi').val() == "") {
			$('#image_error').show();
			return false;
		}
	});

	$('#new_foundation').submit(function(){
		var startDate = new Date($('#datepicker').val());
		var endDate = new Date($('#datepicker1').val());
		if (endDate < startDate){
			$('#end_date_is_greater_error').show();
			return false;
		}
	});
	$('#new_foundation').submit(function() {
		var startDate = new Date($('#datepicker').val());
		var endDate = new Date($('#datepicker1').val());
		var startTime = $('#foundation_start_time').val();
		var endTime = $('#foundation_end_time').val();
		if ((startDate - endDate === 0) && endTime < startTime ) {
			$('#foundation_start_time_greater_error').show();
			return false;
		}
	});

	$('#new_foundation').submit(function() {
		now = new Date();
		current_time = now.toLocaleTimeString().replace(/:\d+ /, ' ');
		var startDate = new Date($('#datepicker').val());
		var endDate = new Date($('#datepicker1').val());
		var startTime = $('#foundation_start_time').val();
		var endTime = $('#foundation_end_time').val();
		if ((startDate.getDate() && endDate.getDate()) == now.getDate() && !($('#foundation_end_time').val() == "" && !($('#foundation_end_time').val()))) {
			if ((startTime || endTime) < current_time ){
				$('#foundation_current_time_error').show();
				return false;
			}
//			return false;
		}
	});

</script>
<style>
	#foundation_current_time_error{
		display: none;
	}
	#foundation_start_time_greater_error{
		display: none;
	}
	#foundation_description{
		height: 110px;
	}
	.error{
		color: red;
		font-size: 14px;
	}
	#foundation_user_role_error{
		display: none;
	}
	#foundation_event_type_error{
		display: none;
	}
	#foundation_start_time_error{
		display: none;
	}
	#foundation_end_time_error{
		display: none;
	}
	#foundation_start_date_error{
		display: none;
	}
	#foundation_end_date_error{
		display: none;
	}
	#foundation_image_error{
		display: none;
	}
	#end_date_is_greater_error{
		display: none;
	}
</style>

