<!--<link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css" media="screen"/>-->
<%= stylesheet_link_tag 'bootstrap.min' %>
<div class="fixed-wrapper">
  <div id="slider1">
    <div class="corner2"></div>
    <h1>Upcoming Volunteer Opportunities</h1>
    <a href="#" class="buttons prev">&lt;</a>
    <div class="viewport">
      <% if @upcoming_foundations.present? %>
        <ul class="overview">
          <% @upcoming_foundations.each do |upcoming_foundation|%>
            <li>
              <% if upcoming_foundation.present? && upcoming_foundation.foundation_pictures.present? && upcoming_foundation.foundation_pictures.first.present? %> <%= link_to image_tag(upcoming_foundation.foundation_pictures.first.image.url(:medium), style: "height: 166px;width: 241px;"),"#" %> <% else %> <%= image_tag 'defaultGigSlide.png' %><% end %>
              <h2 class="foun_name"><% if upcoming_foundation.present? && upcoming_foundation.name.present? %><%= upcoming_foundation.name %><% end %></h2>
              <h3 class="foun_start_date"><% if upcoming_foundation.present? && upcoming_foundation.start_date.present? %><%= upcoming_foundation.start_date.try(:strftime, '%B %d, %Y')%><% end %></h3>
              <h4 class="foun_type"><% if upcoming_foundation.present? && upcoming_foundation.type_of_foundation.present? %><%=upcoming_foundation.type_of_foundation %><% end %></h4>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h2 class="no_upcomming_volunteer"><b><%= t(:no_upcomming_volunteer_opportunities) %></b></h2>
      <% end %>
    </div>
    <a href="#" class="buttons next">&gt;</a>
  </div>
</div>
<!--<link rel="stylesheet" href="/assets/tinycarousel.css" type="text/css" media="screen"/>-->
<!--<script src="/assets/jquery.tinycarousel.js"></script>-->
<%= stylesheet_link_tag 'tinycarousel' %>
<%= javascript_include_tag 'jquery.tinycarousel' %>
<script type="text/javascript">
	$(document).ready(function()
	{
		$('#slider1').tinycarousel();
	});
</script>
<style>
	.foun_name {
		font-family: "GothamRndMedium";
		color: #5c5b5c;
		margin: 0px;;
		padding: 0px;;
		font-size: 22px!important;
		text-align: start;
	}
	.foun_start_date{
		font-size: 14px!important;
	}
	.no_upcomming_volunteer{
		margin: 100px;
	}
</style>