<section id="midd-container">
  <!--new volunteer section-->
  <div class="user-prf-sec">
    <div class="fixed-wrapper">
      <div class="inbox">
        <div class="corner"></div>
        <h1>Profile Settings</h1>
      </div>
      <div class="user-prf-row1">
        <div class="found-prf-left">
          <%= form_for @foundation do |f| %>
            <div class="found-img-lft"> <div class="photoSettings">
              <li>
                <% if @foundation.image_file_name.present? %><%= image_tag @foundation.image.url, style: "height: 142px;width: 162px;border: 4px solid #67aa4d;border-radius: 6px;" %>
                <% else %> <%= image_tag 'no-img.jpg', style: "height: 150px;width: 150px;border: 4px solid #67aa4d;border-radius: 6px;" %>
                <% end %>
                <%= f.file_field :image, value: "CHANGE LOGO"  %>
                <!--<img src="/assets/stayIcon.png" alt=""><button>CHANGE LOGO</button>-->
              </li></div> </div>
            <div class="found-prf-left-cont">
              <div class="nameSettings">
                <%= f.text_field :name, :required => true, :placeholder => "Foundation Name" %>
              </div><br/>
              <div class="city">
                <%= f.text_field :city, :required => true, :placeholder => "City" %>
              </div>
              <div class="state">
                <%= f.text_field :state, :required => true, :placeholder => "State" %>
              </div><br/>
              <div class="description">
                <%= f.text_area :description, :placeholder => "Description", :required => true %>
              </div>
              <input type="button" value="Reset" class="reset-btn">
              <%= f.submit "Save" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="user-photos-row">
        <ul>
          <div class="photoSettings">
            <% if @foundation_pictures.present? %>
              <% picture = 4 - @foundation_pictures.size %>
              <% @foundation_pictures.each do |foundation_picture|%>
                <li>
                  <%= image_tag foundation_picture.image.url, style: "height: 130px;width: 100%;" %>
                  <%= button_to "CHANGE PHOTO", 'javascript:;', :class=> "change_user_foundation_image", :id=> "#{foundation_picture.id}"%>
                  <%= form_for foundation_picture, url: foundations_update_path, :html => {:class => 'foundation_images'}  do |f| %>
                    <%= hidden_field_tag :foundation_id, @foundation.id %>
                    <%= f.hidden_field :user_foundation_picture_id, :value => foundation_picture.id %>
                    <br><%= f.file_field :image, :class=>"upload_image" %> <br>
                    <span><%= f.submit "Save", :class=>"save_user_image" %></span>
                      <%#= button_to "Cancle", "javascript;;",:class=> "cancle_foundation_image" %>
		                <span><input class="cancle_foundation_image" type="submit" value="Cancle"></span>
                    </li>
                  <% end %>
              <% end %>
              <% 1.upto(picture) do |i| %>
                <li><img src="/assets/photoImg.jpg" alt="">
                  <%= button_to "CHANGE PHOTO", 'javascript:;', :class=>"change_new_user_foundation_image", :id => "#{i}" %>
                  <%= form_for @picture, url: foundations_update_path, :html => {:class => 'new_user_foundation_images', :id=> "new_foundation_picture_#{i}" }  do |f| %>
                    <br><%= f.file_field :image, :class=>"upload_new_image" %> <br>
                    <%= hidden_field_tag :foundation_id, @foundation.id %>
                    <span> <%= f.submit "Save", :class=>"save_new_foundation_image" %>
                      <%#= button_to "Cancle", "javascript;;",:class=> "cancle_foundation_image" %>  </span>
		                <span><input class="cancle_foundation_image" type="submit" value="Cancle"></span>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <% 1.upto(4) do |i| %>
                <li><img src="/assets/photoImg.jpg" alt="">
                  <%= button_to "CHANGE PHOTO", 'javascript:;', :class=>"change_new_user_foundation_image", :id => "#{i}" %>
                  <%= form_for @picture, url: foundations_update_path, :html => {:class => 'new_user_foundation_images', :id=> "new_foundation_picture_#{i}" }  do |f| %>
                    <br><%= f.file_field :image, :class=>"upload_new_image" %> <br>
                    <%= hidden_field_tag :foundation_id, @foundation.id %>
                    <%#= button_to "Cancel", 'javascript:;', :class=>"cancle_foundation_image" %>
                    <span> <%= f.submit "Save", :class=>"save_new_user_image" %>
                      <%#= button_to "Cancle", "javascript;;",:class=> "cancle_foundation_image" %>  </span>
		                <span><input class="cancle_foundation_image" type="submit" value="Cancle"></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="volunteer-full float-full user-prf-vol">
    <div class="fixed-wrapper">
      <div id="volunteers">
        <div class="corner"></div>
        <h1><%=t (:my_supporters)%></h1><br/>

        <div class="volBox">
          <% if @user_supporters.present? %>
            <% @user_supporters.in_groups_of(3, false) do |user_support| %>
              <% for user in user_support %>
                <div class="supporters">
                  <% if user.friend.present? && user.friend.image.present? && user.friend != current_user %>
                    <%= image_tag user.friend.image.url(:medium), style: "height: 65px;" %>
                    <h2><%= link_to user.friend.last_name_initial.capitalize, user_profile_path(:id => user.friend.id) %></h2>
                    <%= button_to 'Remove', remove_friend_path(:friend_id => user.friend.id, :user_id => current_user.id), :method => :post, :class=>"remove-btn" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h2 align="center" style="margin: 100px;"><b><%= t(:no_supporter) %></b></h2>
          <% end %>
        </div>
      </div>
    </div>


    <div class="volunteer-full float-full user-prf-vol">
      <%= form_for @foundation do |f| %>
        <div class="fixed-wrapper">
          <div id="settings">
            <div class="corner"></div>
            <h1><%=t (:privacy_setting)%></h1><br/>

            <div class="privacyQuestion-left">
              <h2>Permissions:</h2>

              <h2>Can everyone view your profile?</h2>

              <h2>Can everyone view your calendar?</h2>

              <h2>Can everyone invite you to events?</h2>

              <h2>Can everyone view your posts?</h2>

              <h2>Can everyone message you?</h2>

              <h2>Do volunteers need approval to join your gigs?</h2>

              <h2>Do supporters need approval to comment on your posts?</h2>
            </div>
            <div class="switch2">
              <div>
                <%= f.check_box :everyone_view_profile, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_view_calendar, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_invite_you_to_events, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_view_posts, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :everyone_message_you, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :volunteers_need_approval_to_join_your_gigs, :class => "form-control" %>
              </div>
              <div>
                <%= f.check_box :supporters_need_approval_to_comment_on_your_posts, :class => "form-control" %>
              </div>
            </div>
            <div class="privacyQuestion">
              <h3>Change your password:</h3>
              <%#= f.fields_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put  }) do |ff| %>
              <%#= devise_error_messages! %>
              <%#= hidden_field_tag :reset_password_token %>
              <div class="passwordChange">
                <%#= password_field_tag 'password', nil, :placeholder => "New Password" %>
                <%#= password_field_tag 'password_confirmation', nil, :placeholder => "Confirm Password" %>
                <input type="text" placeholder="New Password"/>
                <input type="text" placeholder="Confirm Password"/>
                <%= submit_tag "Save", :onclick => "return update_password();" %>
              </div>
              <%# end %>
            </div>
            <div class="notifications">
              <div class="notificationQuestion">
                <h2>Notifications:</h2>

                <div class="notificationSettings">
                  <%#= f.email_field :email, :required => true, :placeholder => "Email" %>
                  <input type="text" placeholder="Email"/>
                </div>
                <h2>Email Notifications?</h2>

                <div class="notificationSettings">
                  <%= f.text_field :phone_number, :placeholder => "Phone", :maxlength => "10", :pattern => "[0-9]{10}", :required => true %>
                </div>
                <h2>Text/SMS Notifications?</h2>

                <h2>Would you like mobile ping notifications?</h2>
              </div>

              <div class="switch3">
                <div>
                  <%= f.check_box :email_notifications, :class => "form-control" %>
                </div>
                <div>
                  <%= f.check_box :text_notifications %>
                </div>
                <div>
                  <%= f.check_box :mobile_ping_notifications %>
                </div>
              </div>
            </div>
          </div>
          <div class="cleat"></div>
          <div class="fixed-wrapper">
            <div class="saveSettings">
              <%= f.submit "Save Privacy Settings" %>
              <input type="button" value="Reset Privacy Settings" class="reset-privacy-setting-btn">
            </div>
          </div>
        </div>
      <% end %>
    </div>
</section>
<script>
	$(function(argument) {
		$('[type="checkbox"]').bootstrapSwitch();
	})
	$('.reset-btn').click(function () {
		$("input[type=text], textarea").val("");
	});
	$('.reset-privacy-setting-btn').click(function () {
		$("#foundation_phone_number").val(" ");
	});
	$(".change_user_foundation_image").click(function(){
		$("#edit_foundation_picture_"+this.id).show();
		$(this).toggle();
	});
	$(".change_new_user_foundation_image").click(function(){
		$("#new_foundation_picture_"+this.id).show();
		$(this).toggle();
	});
	$('.cancle_foundation_image').click(function(){
		window.location.reload();
		return false;
	})

	$('.role').dropdown();
	$('.role li').on('click', function() {
		$('#dropdown_role').html($(this).find('a').html());
		select_value = $('#dropdown_role').text();
		$('#user_role').val(select_value);
	});

	$('.gig').dropdown();
	$('.gig li').on('click', function() {
		$('#dropdown_gig').html($(this).find('a').html());
		select_value = $('#dropdown_gig').text();
		$('#type_of_gig').val(select_value);
	});

</script>
<style>
	#error_explanation h2 {
		display: none;
	}
	.foundation_images {
		display: none;
	}
	.user_foundation_images {
		display: none;
	}
	.new_user_foundation_images {
		display: none;
	}
</style>