<link rel="stylesheet" href="/assets/tinycarousel.css" type="text/css" media="screen"/>
<section id="midd-container">
  <!--new volunteer section-->
  <div class="user-prf-sec">
    <div class="fixed-wrapper">
      <div class="user-prf-row1">
        <div class="user-prf-left">
          <div class="vol-img-lft"> <img src="/assets/stayIcon.png" alt=""> </div>
          <div class="user-prf-left-cont">
            <h2><%= @foundation.name.present? ? @foundation.name.titleize : 'Stay Inspired ' %> Foundation</h2>
            <i class="add-icon"><img src="/assets/addIcon.jpg" alt=""></i> <span><%= @foundation.city.present? ? @foundation.full_address.titleize : 'Los Angeles, CA' %></span>
            <p><%=@foundation.description.present? ? @foundation.description.titleize : 'Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket prosciutto sausage ball tip salami pork chop cupim shank swine. Ball tip meatball jowl pork chop picanha. Andouille beef leberkas ham hock pancetta. Ball tip salami jowl meatloaf beef rump pork belly tongue shank boudin pancetta.' %> </p>
          </div>
        </div>
        <div class="user-prf-rgt">
          <a href="#"><img src="/assets/messageUs.png"/></a><br/><br/>
          <a href="#"><img src="/assets/checkCalendar.png"/></a><br/><br/>
          <a href="#"><img src="/assets/supportUs.png"/></a><br/>
        </div>
        <div class="user-photos-row">
          <ul>
            <% foundation_image_counter = 4 - @foundation.foundation_pictures.size %>
            <% if @foundation.foundation_pictures.present? %>
              <% @foundation.foundation_pictures.last(4).each do |foundation_image|%>
                <li><%= image_tag foundation_image.image.url, style: "height: 130px;width: 100%;" %></li>
              <% end %>
            <% end %>
            <% 1.upto(foundation_image_counter) do |i| %>
              <li><%= image_tag 'photoImg.jpg', alt: "" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-wrapper">
    <div id="slider1">
      <div class="corner2"></div>
      <h1>Upcoming Volunteer Opportunities</h1>
      <a class="buttons prev" href="#">&#60;</a>
      <div class="viewport">
        <ul class="overview">
          <li><a href="#"><img src="/assets/defaultGigSlide.png"/></a><br/>
            <h2>Gig Name</h2>
            <h3>Date of Gig</h3>
            <h4>Type of Gig</h4></li>
          <li><a href="#"><img src="/assets/defaultGigSlide.png"/></a><br/>
            <h2>Gig Name</h2>
            <h3>Date of Gig</h3>
            <h4>Type of Gig</h4></li>
          <li><a href="#"><img src="/assets/defaultGigSlide.png"/></a><br/>
            <h2>Gig Name</h2>
            <h3>Date of Gig</h3>
            <h4>Type of Gig</h4></li>
          <li><a href="#"><img src="/assets/defaultGigSlide.png"/></a><br/>
            <h2>Gig Name</h2>
            <h3>Date of Gig</h3>
            <h4>Type of Gig</h4></li>
          <li><a href="#"><img src="/assets/defaultGigSlide.png"/></a><br/>
            <h2>Gig Name</h2>
            <h3>Date of Gig</h3>
            <h4>Type of Gig</h4></li>
        </ul>
      </div>
      <a class="buttons next" href="#">&#62;</a>
    </div>
  </div>
  <div class="fixed-wrapper">
    <div id="volunteers">
      <div class="corner"></div>
      <h1>Our Supporters</h1><br/>
      <div class="volBox">
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
        <div class="supporters">
          <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
        </div>
      </div>
    </div>
  </div>
  <!--new volunteer section ends-->

  <div class="volunteer-full float-full user-prf-vol">
    <div class="fixed-wrapper">
      <div class="vol-detail-row">
        <div class="vol-lft">
          <div class="vol-img-lft"> <img src="/assets/volImg.jpg" alt=""> </div>
          <a href="#" class="btn-black"> Message </a> <a href="#" class="btn-black"> Spread </a> <a href="#" class="btn-black"> Join </a> </div>
        <div class="vol-user-comment">
          <h4>Group Leader <span>posted for</span> Kaohsiung Relief</h4>
          <span class="day-time-row"><strong>3</strong> days ago for <strong>12</strong> hours</span>
          <p class="vol-desc">Shankle biltong short loin, rump t-bone salami drumstick chuck doner pastrami
            ham hock spare ribs frankfurter. Pancetta swine picanha filet mignon sirloin.
            Shankle biltong short loin, rump t-bone salami drumstick chuck doner.</p>
          <div class="vol-reply-sec">
            <ul>
              <li>
                <div class="reply-img"> <img src="/assets/replyImg.jpg" alt=""> </div>
                <div class="reply-desc">
                  <h5>John Smith</h5>
                  <span>2 minutes ago</span>
                  <p>Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket
                    prosciutto sausage ball tip salami pork chop cupim shank swine. […]</p>
                </div>
              </li>
              <li>
                <div class="reply-img"> <img src="/assets/replyImg.jpg" alt=""> </div>
                <div class="reply-desc">
                  <h5>John Smith</h5>
                  <span>7 minutes ago</span>
                  <p>Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket
                    prosciutto sausage ball tip salami pork chop cupim shank swine. […]</p>
                </div>
              </li>
            </ul>
            <div class="reply-form">
              <form action="" method="get">
                <input name="" type="text">
                <button class="btn-reply">Reply</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/assets/jquery.tinycarousel.js"></script>
<script type="text/javascript">
	$(document).ready(function()
	{
		$('#slider1').tinycarousel();
	});
</script>