<div class="user-prf-sec">
  <div class="fixed-wrapper">
    <div class="user-prf-row1">
      <div class="user-prf-left" style="width: 100%">
        <div class="vol-img-lft"> <%= image_tag 'vol-img.jpg', alt: '' %> </div>
        <div class="user-prf-left-cont" style="width: 80%">
          <div id="show_user">
            <h2><%= current_user.full_name %></h2>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit Name', url_for(:controller => 'registrations', :action => 'edit_user'), :remote => true, :style => 'float: right;' %>
          </div>
          <div style="display: none;" id="edit_user">
            <%= form_for :user, :url => {:controller => 'registrations', :action => :update_user}, :remote => true do %>
              <%= text_field_tag 'first_name', '', :value => current_user.first_name, :size => 20, :maxlength => 60, :placeholder => 'First Name', :required => true, :style => 'border: 4px solid #93c281; border-radius: 8px; font-size: 16px;' %>&nbsp;&nbsp;
              <%= text_field_tag 'last_name', '', :value => current_user.last_name, :size => 20, :maxlength => 60, :placeholder => 'Last Name', :required => true, :style => 'border: 4px solid #93c281; border-radius: 8px; font-size: 16px;' %>&nbsp;&nbsp;
              <%= submit_tag "Save", {:class => "button"} %>&nbsp;&nbsp;
              <%= button_tag 'Cancel', :type => 'cancel', :onclick => "if(confirm(\'Are you sure?\\n\\nUser name will not be updated.\')){ $('#edit_user').hide(); $('#show_user').show(); } return false; " %>
            <% end %>
          </div>
          <!--<i class="add-icon"><%#= image_tag 'add-icon.jpg', alt: '' %></i>-->
          <div id="show_location">
            <span style="width: 80%"><%= current_user.city %>, <%= current_user.state %></span><%= link_to 'Edit Location', url_for(:controller => 'registrations', :action => 'edit_location'), :remote => true, :style => 'float: right;' %>
          </div>
          <div style="display: none;" id="edit_location">
            <%= form_for :user, :url => {:controller => 'registrations', :action => :update_location}, :remote => true do %>
              <%= text_field_tag 'city', '', :value => current_user.city, :size => 20, :maxlength => 60, :placeholder => 'City', :required => true, :style => 'border: 4px solid #93c281; border-radius: 8px; font-size: 16px;' %>&nbsp;&nbsp;
              <%= text_field_tag 'state', '', :value => current_user.state, :size => 20, :maxlength => 60, :placeholder => 'State', :required => true, :style => 'border: 4px solid #93c281; border-radius: 8px; font-size: 16px;' %>&nbsp;&nbsp;
              <%= submit_tag "Save", {:class => "button"} %>&nbsp;&nbsp;
              <%= button_tag 'Cancel', :type => 'cancel', :onclick => "if(confirm(\'Are you sure?\\n\\nCity & State will not be updated.\')){ $('#edit_location').hide(); $('#show_location').show(); } return false; " %>
            <% end %>
          </div>
          <div id="show_description">
            <p style="word-break: break-all;">Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket prosciutto sausage ball tip salami pork chop cupim shank swine. Ball tip meatball jowl pork chop picanha. Andouille beef leberkas ham hock pancetta. Ball tip salami jowl meatloaf beef rump pork belly tongue shank boudin pancetta. </p>&nbsp;&nbsp;
            <%= link_to 'Edit Description', url_for(:controller => 'registrations', :action => 'edit_description'), :remote => true, :style => 'float: right;' %>
          </div>
          <div style="display: none;" id="edit_description">
            <%= form_for :user, :url => {:controller => 'registrations', :action => :update_description}, :remote => true do %>
              <%= text_area_tag 'description', '', :value => current_user.description, :rows => 4, :cols => 60, :maxlength => '500', :placeholder => 'Description', :required => true, :style => 'border: 4px solid #93c281; border-radius: 8px; font-size: 16px;' %>&nbsp;&nbsp;
              <%= submit_tag "Save", {:class => "button"} %>&nbsp;&nbsp;
              <%= button_tag 'Cancel', :type => 'cancel', :onclick => "if(confirm(\'Are you sure?\\n\\nDescription will not be updated.\')){ $('#edit_description').hide(); $('#show_description').show(); } return false; " %>
            <% end %>
          </div>
        </div>
      </div>
      <!--<div class="user-prf-rgt"> <strong>Volunteered:</strong>-->
        <!--<p><span>300</span> times</p>-->
        <!--<p><span>1000</span> hours</p>-->
        <!--<p><span style="display:block;">2136</span> Supporters </p>-->
      <!--</div>-->
    </div>
    <div class="user-photos-row">
      <ul>
        <li><%= image_tag 'photo-img.jpg', alt: '' %><%= file_field_tag 'Change Photo', multiple: true %></li>
        <li><%= image_tag 'photo-img.jpg', alt: '' %><%= link_to 'Change Photo', '#' %></li>
        <li><%= image_tag 'photo-img.jpg', alt: '' %><%= link_to 'Change Photo', '#' %></li>
        <li><%= image_tag 'photo-img.jpg', alt: '' %><%= link_to 'Change Photo', '#' %></li>
      </ul>
    </div>
    <div class="volunteer-full supports-block">
      <h3 class="left-hd">Privacy Settings</h3>
      <div>
        <table width="100%" cellpadding="0" cellspacing="4">
          <tr>
            <th width="46%"></th>
            <th width="15%" style="font-size: 15px;">Everyone</th>
            <th width="15%" style="font-size: 15px;">Supporters</th>
            <th width="15%" style="font-size: 15px;">Needs Approval</th>
          </tr>
          <%= form_for :user, :url => {:controller => 'registrations', :action => :update_settings}, :remote => true do |f| %>
            <% @user_settings.each do |setting, column_name| %>
              <tr>
                <td width="46%" style="font-size: 24px;"><%= setting %>:</td>
                <td width="15%" style="text-align: center;"><%= f.radio_button column_name, '0', {:checked => true} %></td>
                <td width="15%" style="text-align: center;"><%= f.radio_button column_name, '1' %></td>
                <td width="15%" style="text-align: center;"><%= f.radio_button column_name, '2' %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="volunteer-full" style="float:left; width:100%; margin:0;">
      <h3 class="left-hd">Notifications</h3>
      <div>
        <table width="100%" cellpadding="0" cellspacing="4">
          <%#= form_for :user, :url => {:controller => 'registrations', :action => :update_settings}, :remote => true do |f| %>
            <tr>
              <td width="18%" style="font-size: 24px;">
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </td>
              <td id="show_email" colspan="2" width="65%" style="font-size: 24px;">Email Notifications to:&nbsp;&nbsp;&nbsp;<span><%= current_user.email %></span>
                <%= link_to 'Change Email', url_for(:controller => 'registrations', :action => 'edit_email'), :remote => true, :style => 'float: right;' %></td>
              <td colspan="2" id="edit_email" width="65%" style="display: none; font-size: 24px;">
                <%= form_for :user, :url => {:controller => 'registrations', :action => :update_email}, :remote => true do %>
                  Email Notifications to:  <%= text_field_tag 'email', '', :value => current_user.email, :size => 20, :maxlength => 60, :placeholder => 'Email', :required => true, :style => 'border: 4px solid #93c281; border-radius: 8px; font-size: 16px;' %>&nbsp;&nbsp;
                  <%= submit_tag "Save", {:class => "button"} %>&nbsp;&nbsp;
                  <%= button_tag 'Cancel', :type => 'cancel', :onclick => "if(confirm(\'Are you sure?\\n\\nEmail will not be updated.\')){ $('#edit_email').hide(); $('#show_email').show(); } return false; " %>
                <% end %>
              </td>
            </tr>
            <tr height="10"></tr>
            <tr>
              <td width="18%" style="font-size: 24px;">
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </td>
              <td id="show_phone" colspan="2" width="65%" style="font-size: 24px;">Text Notifications to:&nbsp;&nbsp;&nbsp;<span><%= current_user.phone_number[0..2] + "-" + current_user.phone_number[3..5] + "-" + current_user.phone_number[6..9] %></span>
                <%= link_to 'Change Phone', url_for(:controller => 'registrations', :action => 'edit_phone'), :remote => true, :style => 'float: right;' %></td>
              <td colspan="2" id="edit_phone" width="65%" style="display: none; font-size: 24px;">
                <%= form_for :user, :url => {:controller => 'registrations', :action => :update_phone}, :remote => true do %>
                  Text Notifications to:  <%= text_field_tag 'phone_number', '', :value => current_user.phone_number, :size => 20, :maxlength => 60, :placeholder => 'Phone Number', :required => true, :style => 'border: 4px solid #93c281; border-radius: 8px; font-size: 16px;' %>&nbsp;&nbsp;
                  <%= submit_tag "Save", {:class => "button"} %>&nbsp;&nbsp;
                  <%= button_tag 'Cancel', :type => 'cancel', :onclick => "if(confirm(\'Are you sure?\\n\\nPhone No. will not be updated.\')){ $('#edit_phone').hide(); $('#show_phone').show(); } return false; " %>
                <% end %>
              </td>
            </tr>
            <tr height="10"></tr>
            <tr>
              <td width="18%" style="font-size: 24px;">
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </td>
              <td width="65%" style="font-size: 24px;">Mobile Ping Alerts</td>
              <td width="17%" style="text-align: center;"></td>
            </tr>
          <%# end %>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
  .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
  }
  .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
  }
  .onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #67aa4d; color: #FFFFFF;
  }
  .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
  }
  .onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
</style>