<!--<script src="assets/mediaelement-and-player.min.js"></script>-->
<!--<link rel="assets/stylesheet" href="mediaelementplayer.css"/>-->
<div class="volunteer-full float-full user-prf-vol">
  <div class="fixed-wrapper">
    <div id="volunteers">
      <div class="corner"></div>
        <%= render 'my_supporters' %>
      </div>
    <% if @post.present? || @posts.present? %>
      <div style="float:left; width:103%; padding:64px 0 0 0; overflow-y: scroll; height: 500px;">
        <% if @posts.present? %>
          <% @posts.each do |post|%>
            <div style="float:left; width:100%; padding:64px 0 0 0;">
              <div style="float:left; width:19%;">
                <div class="vol-img-lft">
                  <% if post.present? %>
                    <%= image_tag post.user.image.url(:medium), style: 'height: 180px; width: 180px;background:url(https://glis.herokuapp.com/assets/noImg-e73068d04051750734d3758e47214f46.jpg) no-repeat;' %>
                  <% else %>
                    <%= image_tag 'noImg.jpg' %>
                  <% end %>
                </div>
                <% if user_signed_in? %>
                  <% unless current_user.friendships.exists?(friend_id:post.user) %>
                    <%= link_to 'Support', support_path(:friend_id => post.user), :method => :post, :class=>"btn-black support" %>
                  <% else %>
                    <%= link_to 'Unsupport',unsupport_path(:friend_id => post.user), :method => :post, :class=>"btn-black unsupport"%>
                  <% end %>
                <% else %>
                  <%= link_to 'Support', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
                <% end %>
                <% if user_signed_in? %>
                  <%= link_to ' Spread ', spread_post_path(:post_id => post.id), :method => :post, :class=>"btn-black support-btn"%>
                <% else %>
                  <%= link_to ' Spread ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to Spread this GIG.");'%>
                <% end %>
                <% if user_signed_in? && post.postable.present? && post.postable.open_to_the_public? %>
                  <%#= link_to 'Join', support_path(:friend_id => post.user), :method => :post, :class=>"btn-black join"%>
                  <%= link_to 'Join', join_gigs_path(:id => post.postable.id), data: { fancybox_width: 600 }, :class=>"fancybox btn btn-success btn-black join "%>
                  <%# else %>
                  <%#= link_to ' Join ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
                <% end %>
              </div>
              <div class="vol-user-comment">
                <% if post.user.present? && post.present? %> <h4><%=post.user.full_name %> <% end %><span>volunteered for</span>
                <% if post.postable.present? %>
                  <% if post.postable_type_foundation? %>
                    <%= post.postable.name %>
                  <% else %>
                    <%= post.postable.title %>
                  <% end %>
                <% end %></h4>
                <span class="day-time-row"><strong><%= "%d " % "#{time_diff_for_post(post)[0]}" %></strong>days ago for <strong><%= "%d " % "#{time_diff_for_post(post)[1]}" %></strong>hours</span>
                <p class="vol-desc"><%= post.name %></p>
                <div class="vol-reply-sec">
                  <ul>
                    <% if post.present?  %>
                      <% @comments = post.comments.last(2) %>
                      <% @comments.each do |comment|%>
                        <%= render "comment", :comment => comment %>
                      <% end %>
                    <% end %>
                  </ul>
                  <div class="reply-form">
                    <%= form_for([post, post.comments.build], remote: true) do |f| %>
                      <div>
                        <%= f.text_field :commenter, :required => true , :id => "comment_commenter_#{post.id}" %>
                        <% if user_signed_in? %>
                          <%= f.button 'Reply', :class => 'btn-reply' %>
                        <% else %>
                          <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="vol-detail-row">
            <div class="vol-lft">
              <div class="vol-img-lft">
                <% if @post.present? && @post.user.present? && @post.user.user_pictures.present? && @post.user.user_pictures.first.image.present? %> <%= image_tag @post.user.user_pictures.first.image.url(:medium), style: 'height: 180px; width: 180px;'  %>
                <% else %>
                  <%= image_tag 'noImg.jpg' %>
                <% end %>
              </div>
              <% if user_signed_in? %>
                <% unless current_user.friendships.exists?(friend_id:@post.user) %>
                  <%= button_to 'Support', support_path(:friend_id => @post.user), :method => :post, :class=>"btn-black support" %>
                <% else %>
                  <%= button_to 'Unsupport',unsupport_path(:friend_id => @post.user), :method => :post, :class=>"btn-black unsupport", style: "margin-bottom: 15px;" %>
                <% end %>
              <% else %>
                <%= button_to 'Support', 'javascript:;', :class=>"btn-black support", :onclick => 'alert("Please Sign Up to support this user.");'%>
              <% end %>
              <% if user_signed_in? && current_user.posts.present? %>
                <%= button_to ' Spread ', spread_post_path(:post_id => @post.id), :method => :post, :class=>"btn-black support-btn" %>
                <%#= link_to ' Spread ', spread_post_path(:post_id => post.id), :method => :post, :class=>"btn-black support-btn"%>
              <% else %>
                <%= button_to ' Spread ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to Spread this GIG.");'%>
              <% end %>
              <% if user_signed_in? && @post.postable.open_to_the_public?  %>
                <%#= link_to 'Join', support_path(:friend_id => @post.user), :class=>"btn-black join"%>
                <%= link_to 'Join', join_gigs_path(:id => @post.postable.id), data: { fancybox_width: 600 }, :class=>"fancybox btn btn-success btn-black join "%>
                <%# else %>
                <%#= link_to 'Join', new_user_registration_path, data: { fancybox_width: 600 }, class: 'fancybox btn btn-success btn-black join'%>
                <%#= button_to ' Join ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
              <% end %>
            </div>
          </div>
          <div class="vol-user-comment">
            <% if @post.present? && @post.user.present? %> <h4><%=@post.user.full_name %> <% end %><span>volunteered for</span> <% if  @post.present? && @post.postable.present?  && @post.postable_type_event? %> <%= @post.postable.title %><% end %></h4>
            <span class="day-time-row"><strong><%= "%d " % "#{time_diff_for_post(@post)[0]}" %></strong>days ago for <strong><%= "%d " % "#{time_diff_for_post(@post)[1]}" %></strong>hours</span>
            <p class="vol-desc"><%= @post.name %></p>
            <div class="vol-reply-sec" style="margin-top: 30px;">
              <ul>
                <li>
                  <% if @post.present? %>
                    <% @comments = @post.comments.last(2) %>
                    <% @comments.each do |comment|%>
                      <%= render "comment", :comment => comment %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
              <div class="reply-form">
                <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
                  <div>
                    <%= f.text_field :commenter, :required => true %>
                    <% if user_signed_in? %>
                      <%= f.button 'Reply', :class => 'btn-reply' %>
                    <% else %>
                      <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script>
    var player = new MediaElementPlayer('#player1');
</script>
<style>
  .btn-volunteer{
    color: #78b55f;
  }
  .btn-volunteer:hover {
    color: #78b55f;
  }
</style>