<footer id="bott-container">
  <div class="fixed-wrapper">
    <div class="foo-col-1"> <span>Glis, Inc.</span>
      <div class="social-foo">
        <a href="https://facebook.com/enjoyglis" target="_blank"><%= image_tag('fb-icon.png', alt: '') %></a>
        <a href="#" target="_blank"><%= image_tag('twitter-icon.png', alt: '') %></a>
        <a href="#" target="_blank"><%= image_tag('gplus-icon.png', alt: '') %></a>
        <a href="https://instagram.com?enjoyglis" target="_blank"><%= image_tag('linked-icon.png', alt: '') %></a>
      </div>
      <!--<a href="#" class="btn-contact">Contact Us</a>-->
      <%= link_to 'Contact Us', contacts_new_path, data: { fancybox_width: 600, fancybox_height: 200 }, class: 'fancybox btn btn-success btn-contact', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
    </div>
    <div class="footer-link">
      <ul>
	      <!-- Home link -->
        <li><%= link_to "Home", root_path %></li>
        <!-- Settings link -->
        <% if user_signed_in? && !@foundation.present? %>
          <li><%= link_to 'Settings',edit_user_registration_path %></li>
        <% elsif  user_signed_in? && @foundation.present? %>
          <li><%= link_to 'Settings',edit_foundation_path(@foundation.id) %></li>
        <% end %>
        <!-- My Inbox link -->
        <% if user_signed_in? %>
          <li><%= link_to "My Inbox", inbox_notifications_path(:page=> "inbox_notifications") %></li>
        <% end %>
        <!-- Sitemap link -->
        <li><%= link_to 'Sitemap', "#" %></li>
        <!-- My Profile link -->
        <% if user_signed_in? && !@foundation.present? %>
          <li><%= link_to 'My Profile', user_profile_path(current_user.id) %></li>
        <% elsif  user_signed_in? && @foundation.present? %>
          <li><%= link_to 'My Profile', foundation_path(@foundation.id)  %></li>
        <% end %>
        <!-- Partners link -->
        <!--<li><a href="#">Partners</a></li>-->
        <!-- My Gigs link -->
        <% if user_signed_in? && !@foundation.present? %>
          <li><%= link_to "My Calendar", event_list_path %></li>
        <% elsif user_signed_in? && params[:id].present? %>
          <li><%= link_to "My Calendar", foundation_calendar_path  %></li>
        <% end %>
        <!-- Privacy Policy link -->
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="send-feedback">
      <a href="mailto:info@glis.org">SEND US <br>
        FEEDBACK<br>
        <%= image_tag 'feedbackIcon.png', :class=> "feedback_image"%>
    </div>
    <p class="cpy-full">Glis, Inc. &copy; <%= Time.now.year %> | Developed by evibobevy</p>
  </div>
</footer>
<style>
	.feedback_image{
		width: 51px;
		height: 51px;
	}
</style>