<footer id="bott-container">
  <div class="fixed-wrapper">
    <div class="foo-col-1"> <span>Glis, Inc. (888) 888-8888</span>
      <div class="social-foo"> <a href="#" target="_blank"><%= image_tag('fb-icon.png', alt: '') %></a> <a href="#" target="_blank"><%= image_tag('twitter-icon.png', alt: '') %></a> <a href="#" target="_blank"><%= image_tag('gplus-icon.png', alt: '') %></a> <a href="#" target="_blank"><%= image_tag('linked-icon.png', alt: '') %></a> </div>
      <!--<a href="#" class="btn-contact">Contact Us</a>-->
      <%= link_to 'Contact Us', contacts_new_path, data: { fancybox_width: 600 }, class: 'fancybox btn btn-success btn-contact', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
    </div>
    <div class="footer-link">
      <ul>
        <li><a href="#">Home</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Inbox", inbox_notifications_path(:page=> "inbox_notifications") %></li>
          <% if @foundation.present? && params[:id].present?  %>
            <li><%= link_to 'Settings',edit_foundation_path(@foundation) %></li>
          <% elsif @user.present? %>
            <li><%= link_to 'Settings',edit_user_registration_path %></li>
          <% else %>
            <li><%= link_to 'Settings',"#" %></li>
          <% end %>
        <% end %>
        <li><%= link_to 'Sitemap', events_sitemap_path %></li>
        <% if user_signed_in? %>
          <li><a href="#">Gigs</a></li>
        <% end %>
        <li><a href="#">Partners</a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'My Profile', edit_user_registration_path %></a></li>
        <% end %>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="send-feedback">
      <a href="#">SEND US <br>
        FEEDBACK<br>
        <i><%= image_tag 'feedbackIcon.png'%></i>
    </div>
    <p class="cpy-full">Glis, Inc. &copy; <%= Time.now.year %> | Developed by evibobevy</p>
  </div>
</footer>