<header id="top-container">
  <div class="fixed-wrapper">
    <div class="logo"><%= image_tag('logo.png', alt: '') %></div>
    <div class="header-search">
      <form action="" method="get">
        <div class="hd-search-box">
          <input name="" type="text">
          <button class="search-icon"></button>
        </div>
        <span class="inspire-text">Inspire the world with good.</span>
      </form>
    </div>
    <% if user_signed_in? %>
      <div class="loged-rgt">
        <div class="after-login-icon">
          <ul>
	          <li><%= link_to image_tag("date-icon.png"), event_list_path %></li>
	          <li><%= link_to image_tag("setting-icon.png"), edit_user_registration_path %></li>
            <li><%= link_to image_tag("email-icon.png"), inbox_notifications_path %></li>
            <li><%= link_to image_tag("add-icon.png"), "#" %></li>
          </ul>
        </div>
        <div class="loged-user">
          <% if user_signed_in? && current_user.image_file_name.present? || current_user.image.url.present? %><%= link_to image_tag("#{current_user.image.url}", :alt => '', :title => '', style: "height: 60px;width: 59px;"), root_path %><% else %><%= link_to image_tag("noImg.jpg", :alt => '', :title => '', style: "height: 60px;width: 59px;"), root_path %> <% end %>
          <span><% if user_signed_in? &&  current_user.first_name.present? %><%= current_user.first_name ||= 'Jameson' %><% end %></span>
        </div>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :get, :class => 'after-login-icon' %>
      </div>
    <% else %>
      <!--After login right section-->
      <div class="header-rgt-btn">
        <%= link_to raw("<small>CHECK</small><br /><strong>NEW</strong><br /><strong>GIGS</strong>"), event_list_path, data: {fancybox_width: 850}, class: 'fancybox btn btn-success', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
        <%= link_to raw("<strong>JOIN</strong><br /><small>LOG IN</small>"), new_user_registration_path, data: { fancybox_width: 600, autoSize: false }, class: 'fancybox btn btn-success join-today', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
        <% end %>
      </div>
  </div>
</header>