<header id="top-container">
  <div class="fixed-wrapper">
    <div class="logo">
      <%= link_to image_tag('logo.png'), root_path %>
      <%#= image_tag('logo.png', alt: '') %>
    </div>
    <div class="header-search">
      <%= form_tag search_gigs_path, :method => 'get', :id => "gigs_search", :remote=> true do %>
        <div class="hd-search-box">
          <%= text_field_tag :search_gigs, params[:search_gig] %> <br/>
          <button class="search-icon"><img src="/assets/searchIcon.png"></button>
        </div>
        <span class="inspire-text">Inspire the world with good.</span>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="loged-rgt">
        <div class="after-login-icon">
          <ul>
	          <li><%= link_to image_tag("date-icon.png"), event_list_path %></li>
	          <li><%= link_to image_tag("setting-icon.png"), edit_user_registration_path %></li>
            <li><%= link_to image_tag("email-icon.png"), inbox_notifications_path %></li>
            <li><%= link_to image_tag("add-icon.png"), "#", :id=> "add-user-btn" %></li>
          <% if params[:id].present? && !current_user.friendships.exists?(friend_id:@user) && @user.present?  %> <%= link_to image_tag(''), support_path(:friend_id => @user), :method => :post, :id=> "add-user-as-friend" %> <% end %>
          </ul>
        </div>
        <div class="loged-user">
          <% if user_signed_in? && current_user.image_file_name.present? || current_user.image.url.present? %><%= link_to image_tag("#{current_user.image.url}", :alt => '', :title => '', style: "height: 58px;width: 59px;"), root_path %><% else %><%= link_to image_tag("noImg.jpg", :alt => '', :title => '', style: "height: 60px;width: 59px;"), root_path %> <% end %>
          <span class="login-user-name"><% if user_signed_in? &&  current_user.first_name.present? %><%= current_user.first_name.first(5).capitalize %><% end %> </span>
           <span><%= link_to 'Log Out', destroy_user_session_path, :method => :get, style: "color: #fff;" %></span>
        </div>
      </div>
    <% else %>
      <!--After login right section-->
      <div class="header-rgt-btn">
        <%= link_to ("<h2>CHECK</h2><h1>NEW</h1><h2 class='event-pos'>EVENTS</h2>").html_safe, event_list_path, data: {fancybox_width: 850}, class: 'fancybox btn btn-success', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
        <%= link_to ("<h1>JOIN</h1><h2>LOG IN</h2>").html_safe, new_user_registration_path, data: { fancybox_width: 600, autoSize: false }, class: 'fancybox btn btn-success join-today', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
        <!--<a href="register.html" class="join-today"><h1>JOIN</h1> <h2>LOG IN</h2></a>-->
      </div>
    <% end %>
  </div>
  <%= link_to " ", search_gigs_path, data: {fancybox_width: 600}, class: 'fancybox btn', id: "search-result", style: 'display: none' %>
</header>
<style>
#add-user-as-friend
{
	display: none
}
/*.overflowhidden{*/
	/*overflow: hidden;*/
/*}*/
</style>
<script>
	$('#add-user-btn').click(function(){
		$("#add-user-as-friend").click();
		return false;
	});
	$('#gigs_search').submit(function(){
		$("#search-result").click();
//				this.reset();
	});
</script>
