<!--new volunteer section-->
<% if params[:controller]=="events" && params[:action]=='index'%>
  <div class="user-prf-sec">
    <div class="fixed-wrapper">
      <div class="user-prf-row1">
        <div class="user-prf-left">
          <div class="vol-img-lft"> <%= image_tag 'vol-img.jpg', alt: '' %> </div>
          <div class="user-prf-left-cont">
            <h2>Jameson Welch</h2>
            <i class="add-icon"><img src="/assets/addIcon.jpg" alt=""></i> <span>Los Angeles, CA</span>
            <p style="font-family: 'GothamRndBook'";>Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket prosciutto sausage ball tip salami pork chop cupim shank swine. Ball tip meatball jowl pork chop picanha. Andouille beef leberkas ham hock pancetta. Ball tip salami jowl meatloaf beef rump pork belly tongue shank boudin pancetta. </p>
          </div>
        </div>
        <div class="user-prf-rgt"> <strong>Volunteered:</strong>
          <p><span>300</span> times</p>
          <p><span>1000</span> hours</p><br/>
          <p><span>2136</span> Supporters </p>
        </div>
      </div>
      <div class="user-photos-row">
        <ul>
          <li><%= image_tag 'photo-img.jpg', alt: "" %></li>
          <li><%= image_tag 'photo-img.jpg', alt: "" %></li>
          <li><%= image_tag 'photo-img.jpg', alt: "" %></li>
          <li><%= image_tag 'photo-img.jpg', alt: "" %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<!--new volunteer section ends-->