<!--new volunteer section-->
<% if params[:controller]=="events" && params[:action]=='index'%>
  <div class="user-prf-sec">
    <div class="fixed-wrapper">
      <div class="user-prf-row1">
        <div class="user-prf-left">
          <div class="vol-img-lft"> <% if current_user.user_pictures.present? %> <%= image_tag current_user.user_pictures.first.image.url, style: "height: 140px;width: 100%;" %><% else %><%= image_tag 'vol-img.jpg', alt: '' %> <% end %> </div>
          <div class="user-prf-left-cont">
           <% if user_signed_in? %> <h2><%= current_user.full_name.present? ? current_user.full_name : 'Jameson Welch'  %></h2> <% end %>
            <i class="add-icon"><img src="/assets/addIcon.jpg" alt=""></i> <span><% if user_signed_in? %> <%= current_user.full_address.present? ? current_user.full_address : 'Los Angeles, CA'  %> <% end %></span>
            <p style="font-family: 'GothamRndBook'";>
              <% if user_signed_in? %>
                <%= current_user.description.present? ? current_user.description : 'Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket prosciutto sausage ball tip salami pork chop cupim shank swine. Ball tip meatball jowl pork chop picanha. Andouille beef leberkas ham hock pancetta. Ball tip salami jowl meatloaf beef rump pork belly tongue shank boudin pancetta.'  %> <% end %>
            </p>
          </div>
        </div>
        <div class="user-prf-rgt"> <strong>Volunteered:</strong>
          <p><span>300</span> times</p>
          <p><span>1000</span> hours</p><br/>
          <p><span>2136</span> Supporters </p>
        </div>
      </div>
      <div class="user-photos-row">
        <ul>
          <% user_image_counter = 4 - current_user.user_pictures.size %>
          <% if user_signed_in? && current_user.user_pictures.present? %>
            <% current_user.user_pictures.last(4).each do |user_image|%>
              <li><%= image_tag user_image.image.url, style: "height: 130px;width: 100%;" %></li>
            <% end %>
          <% end %>
          <% 1.upto(user_image_counter) do |i| %>
            <li><%= image_tag 'photo-img.jpg', alt: "" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<!--new volunteer section ends-->