<link href="/assets/bootstrap.min.css" rel="stylesheet">
<div class="newgig-sec">
  <div class="fixed-wrapper">
    <div class="inbox">
      <div class="corner3"></div>
      <h1>Create A Gig</h1>
      <%= form_for @event, :html => { :multipart => true } do |f| %>
        <div class="createGig-left">
          <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
              <ul>
                <% @event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.text_field :title, :placeholder => 'Gig Name *', :required => true %><br/>
          <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle role"><span id="dropdown_role">Your Role<span>*</span><b class="caret"></b></a>
            <ul class="dropdown-menu role">
              <li><a>Group Leader</a></li>
              <li><a>Volunteer</a></li>
            </ul>
            <%= hidden_field_tag :user_role %>
          </div>
          <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle gig"><span id="dropdown_gig">Type of Gig<span>*</span><b class="caret"></b>
            <%#= f.select :type_of_gig, options_for_select(gigs_type.collect { |s| [s[0].humanize, s[0]] }), {}, :include_blank => true %> </a>
            <ul class="dropdown-menu gig">
              <li><a>Community</a></li>
              <li><a>Environment</a></li>
              <li><a>Health</a></li>
              <li><a>Animals</a></li>
              <li><a>Faith</a></li>
              <li><a>Other</a></li>
            </ul>
            <%= hidden_field_tag :type_of_gig %>
          </div>
          <%= f.text_field :location, :placeholder => 'Location *', :required => true %> <br/>
          <%= f.text_field :event_date, :id=> "datepicker", :placeholder=> "Start Date *" %><br/>
          <%= f.text_field :end_date, :id=> "datepicker1", :placeholder=> "End Date *" %><br/>
          <div class="time">
            <%= f.text_field :event_start_time, :class=> "timepicker", :placeholder=> "Start Time *" %>
            <%= f.text_field :event_end_time, :class => "timepicker1", :placeholder=> "End Time *"  %>
          </div>
          <div class='switchQuestions'>
            <div class="questions">
              <h5>Is this recurring? </h5><br/>
              <h5>Is this open to the public?</h5></br>
              <h5>Can anyone volunteer?</h5>
            </div>
            <div class="switch">
              <div>
                <%= f.check_box :anyone_volunteer, :class=>"form-control" %>
              </div>
              <div>
                <%= f.check_box :open_to_the_public, :class=>"form-control" %>
              </div>
              <div>
                <%= f.check_box :recurring, :class=>"form-control" %>
              </div>
            </div>
          </div>
        </div>
        <div class="createGig-right">
          <!--<input type="text" placeholder="Foundation Name (Optional)"/><br/>-->
          <%= f.text_field :foundation_name, :placeholder => 'Foundation Name (Optional)' %><br/>
          <%= f.text_area :basic_info, :placeholder => 'Basic Info *', :required => true %>
          <%= f.text_area :full_description, :placeholder => 'Full Description *', :required => true %><br/>
          <div class="upload">
            <span><%= file_field_tag "images[]", multiple: true, class: "multi flaticon-upload" %></span>
          </div>
          <div class="submitCancel">
            <input type="button" value="Cancel", class="btn-cancel"/>
            <%= f.submit "Create Gig" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!--</div>-->
  <script>
	  $(function() {
		  $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
		  $("#datepicker1").datepicker({ dateFormat: 'yy-mm-dd' });
	  });
	  $(function(){
		  $('.multi').MultiFile({
			  accept:'gif|jpg',
			  max:5,
//			  STRING: {
//				  remove:'Remover',
//				  selected:'Selecionado: $file',
//				  denied:'Invalido arquivo de tipo $ext!',
//				  duplicate:'Arquivo ja selecionado:\n$file!'
//			  }
		  });
	  });
	  $(function(argument) {
		  $('[type="checkbox"]').bootstrapSwitch();
	  });

	  $('.timepicker').timepicker({
		  timeFormat: 'h:mm p',
		  dynamic: false,
		  dropdown: true,
		  scrollbar: true
	  });
	  $('.timepicker1').timepicker({
		  timeFormat: 'h:mm p',
		  dynamic: false,
		  dropdown: true,
		  scrollbar: true
	  });
	  $('.btn-cancel').click(function(){
		  window.location.href='/event_list';
	  })

		$('.role').dropdown();
		$('.role li').on('click', function() {
			$('#dropdown_role').html($(this).find('a').html());
			select_value = $('#dropdown_role').text();
			$('#user_role').val(select_value);
		});

		$('.gig').dropdown();
		$('.gig li').on('click', function() {
			$('#dropdown_gig').html($(this).find('a').html());
			select_value = $('#dropdown_gig').text();
			$('#type_of_gig').val(select_value);
		});

	</script>
  <style>
	  #event_full_description{
		  height: 150px;
	  }
  </style>

