<% if params[:date].present? %>
  <div class="border"><h4>Today's Schedule</h4></div>
  <% if @today_gigs_mobile.present? %>
    <% @today_gigs_mobile.each do |today_gig|%>
      <b style ="font-size: x-small;"> <% if today_gig.event_start_time.present? %><%= today_gig.event_start_time.try(:strftime, "%I:%M %p") %><% end %> -
        <% if today_gig.event_end_time.present? %><%= today_gig.event_end_time.try(:strftime, "%I:%M %p") %><% end %> </b><br>
      <b style ="font-size: x-small;"><% if today_gig.title.present? %><%= today_gig.title.titleize %> <% end %></b>
      <% if user_signed_in? %>
        <div class="gig_info" style="display:none; width: 95%;">
          <% if today_gig.location.present? %> <b>Address:</b></h3> <h3 style="width: 80%;"><%= today_gig.location.titleize %><% end %>
          <% if today_gig.full_description.present? %> <br /><b>Details:</b> <%= today_gig.full_description %><% end %><br />
          <%= link_to 'View GIG', "javascript:void(0)" %> <br />
          <%= link_to 'CLOSE INFO', "javascript:void(0)", :class=> "close_btn" %>
        </div>
        <br> <%= link_to 'BASIC INFO', "javascript:void(0)", :class=>"basic_btn", :id => "#{today_gig.id}" %>  </h2></br><hr>
      <% end %>
      <% if !user_signed_in? %>
        <br /><%= link_to 'Join', root_path %> <br><hr>
      <% end %>
    <% end %>
  <% else %>
    <%= t(:today_no_event)%>
  <% end %>
<% end %>
<script>
	$(".basic_btn").click(function(){
		$(".gig_info").show();
		$(".basic_btn").hide();
	});
	$(".close_btn").click(function(){
		$(".gig_info").hide();
		$(".basic_btn").show();
	});
</script>
