<% if @mutual_friends.present? && !@mutual_friends.blank?%>
  <table border="1" align="center">
  <thead>
  <tr>
    <th><Center>Email</Center></th>
    <th><Center>First Name</Center></th>
    <th><Center>Last Name</Center></th>
    <th><Center>Location</Center></th>
  </tr>
  </thead>
  <tbody>
  <% @mutual_friends.each do |user|%>
    <tr>
      <td><CENTER><%= user.email %></CENTER></td>
      <td><CENTER><%= user.first_name %></CENTER></td>
      <td><CENTER><%= user.last_name %></CENTER></td>
      <td><CENTER><%= user.location %></CENTER></td>
    </tr>
  <% end %>
  </tbody>
</table>
	<% else %>
	<h4><%= t(:no_mutual_friend) %></h4>
<% end %>