<h1>Search for  Supporters</h1>
<%= form_tag friendsearch_request_path, :method => 'get', :id => "friend_search", :remote=> true do %>
  <p>
    <%= text_field_tag :search_user, params[:search_user] %>
    <%= text_field_tag :search_location, params[:search_location] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id='users'>
  <%= render 'users_list' %>
</div>

<div id='mutual_support' align="center">
  <h1>Mutual Supporters</h1>
  <%= render 'mutual_support' %>
</div>

