<!--<script src="assets/mediaelement-and-player.min.js"></script>-->
<!--<link rel="assets/stylesheet" href="mediaelementplayer.css"/>-->
<div class="volunteer-full float-full user-prf-vol">
  <div class="fixed-wrapper">
    <% unless user_signed_in? %>
      <div class="video_row">
        <div class="videoWrapper">
          <!-- YouTube video -->
          <iframe width="400" height="300" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    <% end %>
    <% if !user_signed_in? %>
      <div class="volunteer-row">
        <div class="vol-left-main">
          <div class="corner"></div>
          <h3 class="left-hd">Available Volunteer Gigs</h3>
          <% @events.each do |event| %>
            <div class="volunteer-lft">
              <div class="stay-icon"><% if event.image.present? %><%= image_tag event.image.url(:medium), alt: '' %><% else %><%= image_tag 'stay-icon.png', alt: '' %><% end %></div>
              <div class="stay-detail">
                <h5><%= event.title %></h5>
                <span class="date-small"><%= event.event_date.try(:strftime, '%B %d, %Y') %></span> <a href="#" class="btn-join">JOIN</a> </div>
            </div>
          <% end %>
        </div>
        <div class="volunteer-rgt">
          <div class="corner"></div>
          <h3 class="rgt-hd">Top 6 Glis Volunteers</h3>
          <% @last_six_users.in_groups_of(2, false) do |volunteer| %>
            <ul>
              <% for vol in volunteer %>
                <li>
                  <% if vol.image.present? %>
                    <%= image_tag vol.image.url(:medium), alt: '', style: 'height: 190px; width: 180px' %>
                  <% else %>
                    <%= image_tag 'no-img.jpg', alt: '', style: 'height: 190px; width: 180px' %>
                  <% end %>
                  <span class="vol-name-over"> <%= vol.last_name_initial %> </span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    <% else %>
      <div id="volunteers">
        <div class="corner"></div>
        <h1>My Supporters</h1><br/>
        <div class="volBox">
          <% if @user_supporters.present? %>
	            <% @user_supporters.in_groups_of(3, false) do |user_support| %>
              <% for user in user_support %>
                <div class="supporters">
                  <% if user.friend.present? && user.friend.image.present? %>
                    <%= image_tag user.friend.image.url(:medium), style: "height: 65px;" %>
                  <% else %>
                    <img src="/assets/noImg.jpg"/>
                  <% end %>
                  <h2><%= user.friend.present? && user.friend.first_name.present? ? user.friend.last_name_initial.capitalize : 'John Smith' %></h2>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <b><%#= t(:no_supporter) %></b>
          <% end %>
          <div class="supporters">
            <img src="/assets/noImg.jpg"/><h2>John Smith</h2>
          </div>
        </div>
      </div>
    <% end %>

    <div class="vol-detail-row">
      <div class="vol-lft">
        <div class="vol-img-lft"><% if !@post.nil? %> <%= image_tag @post.user.image.url(:medium), style: 'height: 180px; width: 180px;' %></div> <% end %>
          <% if user_signed_in? %>
            <% unless current_user.friendships.exists?(friend_id:@post.user) %>
              <%= link_to 'Support',support_path(:friend_id => @post.user), :method => :post, :class=>"btn-black"%>
            <% else %>
              <%#= link_to 'Unsupport',unsupport_path(:friend_id => @post.user), :method => :post, :class=>"btn-black"%>
              <%= link_to 'Unsupport',"/", :class=>"btn-black"%>
            <% end %>
          <% else %>
            <%#= link_to 'Support', 'javascript:;', :class=>"btn-black", :onclick => 'alert("Please Sign Up to support this user.");'%>
            <%= button_to 'Support', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
          <% end %>
          <%#= social_share_button_tag(@post.name, :popup => "true", :'data-type' => 'photo' , :url => "192.168.31.206:3000", :class => 'btn-black') %>
          <% if !@post.nil? %> <a class="btn-black" href="javascript:;" onclick="javascript:fbShare('<%= @post.event.image.url %>', '<%= @post.name %>', 'Facebook Share popup', '<%= @post.event.image.url %>', 520, 350)">Share</a> <% end %>
          <% if user_signed_in? %>
            <%#= link_to 'Join', {:controller => 'events', :action => 'show', :id => @post.event.id}, { class: 'btn-black' } %>
            <%= link_to 'Join','javascript:;' , { class: 'btn-black' } %>
          <% else %>
            <%= link_to 'Join', new_user_registration_path, data: { fancybox_width: 600 }, class: 'fancybox btn btn-success btn-black'%>
          <% end %>
          </div>
      <div class="vol-user-comment">
        <% if !@post.user.nil? %> <h4><%=@post.user.full_name %> <% end %><span>volunteered for</span> <%= @post.event.title %></h4>
        <% seconds = (TimeDifference.between(Time.now, Post.last.created_at).in_seconds.to_i) %>
        <% mm, ss = seconds.divmod(60) %>
        <% hh, mm = mm.divmod(60) %>
        <% dd, hh = hh.divmod(24)%>
        <!--<span class="day-time-row"><strong>3</strong> days ago for <strong>12</strong> hours</span>-->
        <span class="day-time-row"><strong><%= "%d " % [dd] %></strong>days ago for <strong><%= "%d " % [hh] %></strong>hours</span>
        <p class="vol-desc"><%= @post.name %></p>
        <div class="vol-reply-sec">
          <ul>
            <li>
              <% unless @post.blank?  %>
                <% @comments = @post.comments.last(2) %>
                <% @comments.each do |comment|%>
                  <%= render "comment", :comment => comment %>
                <% end %>
              <% end %>
            </li>
          </ul>
          <div class="reply-form">
            <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
              <div>
                <%= f.text_field :commenter, :required => true %>
                <% if user_signed_in? %>
                  <%= f.button 'Reply', :class => 'btn-reply' %>
                <% else %>
                  <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
	function fbShare(url, title, descr, image, winWidth, winHeight) {
		var winTop = (screen.height / 2) - (winHeight / 2);
		var winLeft = (screen.width / 2) - (winWidth / 2);
		window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
	}
</script>
<script>
	var player = new MediaElementPlayer('#player1');
</script>