<!--<script src="assets/mediaelement-and-player.min.js"></script>-->
<!--<link rel="assets/stylesheet" href="mediaelementplayer.css"/>-->
<div class="volunteer-full float-full user-prf-vol">
  <div class="fixed-wrapper">
    <% unless user_signed_in? %>
      <div class="video_row">
        <div class="videoWrapper">
          <!-- YouTube video -->
          <iframe width="400" height="300" src="https://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    <% end %>
    <% if !user_signed_in? %>
      <div class="volunteer-row">
        <div class="vol-left-main">
          <div class="corner"></div>
          <h3 class="left-hd">Available Volunteer Gigs</h3>
          <% if @events.present? %>
            <% default_event = 3 - @events.size %>
            <% @events.each do |event| %>
              <div class="volunteer-lft">
                <div class="stay-icon">
                  <% if event.pictures.first.present? %>
                    <%= image_tag event.pictures.first.image.url(:medium), alt: '', style: 'height: 160px; width: 182px' %>
                    <% else %><%= image_tag 'stay-icon.png', alt: '' %>
                  <% end %>
                </div>
                <div class="stay-detail">
                  <h5><% if event.title.present? %><%= event.title %><% end %></h5>
                  <span class="date-small"><%= event.event_date.try(:strftime, '%B %d, %Y') %></span>
                  <% if user_signed_in? && event.present? && post.event.open_to_the_public? %>
                    <%= link_to 'Join', join_event_path(:event_id => event.id), :method => :post, :class=> "btn-join"%>
                  <% else %>
                    <%= link_to 'Join', new_user_registration_path, data: { fancybox_width: 600 }, class: 'fancybox btn btn-success btn-join'%>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% 1.upto(default_event) do |i| %>
              <div class="volunteer-lft">
                <div class="stay-icon"><%= image_tag 'stayIcon.png', alt: '' %>
                </div>
                <div class="stay-detail">
                  <h5> </h5>
                  <span class="date-small"> </span> </div>
              </div>
            <% end %>
          <% else %>
            <% 1.upto(3) do |i| %>
              <div class="volunteer-lft">
                <div class="stay-icon">
                  <%= image_tag 'stayIcon.png', alt: '' %>
                </div>
                <div class="stay-detail">
                  <h5> </h5>
                  <span class="date-small"> </span>  </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="volunteer-rgt">
          <div class="corner"></div>
          <h3 class="rgt-hd">Top 6 Glis Volunteers</h3>
          <% if @last_six_users.present? %>
            <% last_six_user = 6 - @last_six_users.size %>
              <% @last_six_users.in_groups_of(2, false) do |volunteer| %>
                <% for vol in volunteer %>
                <ul>
                  <li style="margin-right: 10px;">
                    <% if vol.user_pictures.first.present? %>
                      <%= image_tag vol.user_pictures.first.image.url(:medium), alt: '', style: 'height: 149px; width: 141px' %>
                    <% else %>
                      <%= image_tag 'noImg.jpg', alt: '' %>
                    <% end %>
                    <span class="vol-name-over"> <%= vol.last_name_initial %> </span>
                  </li>
                </ul>
                <% end %>
              <% end %>
            <ul>
              <% 1.upto(last_six_user) do |i| %>
                <li style="margin-right: 10px;">
                  <%= image_tag 'noImg.jpg', alt: '' %>
                  <span class="vol-name-over"> </span> </li>
              <% end %>
            </ul>
          <% else %>
            <ul>
              <% 1.upto(6) do |i| %>
                <li>
                  <%= image_tag 'noImg.jpg', alt: '' %>
                  <span class="vol-name-over"> </span> </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    <% else %>
      <div id="volunteers">
        <div class="corner"></div>
        <h1>My Supporters</h1><br/>
        <div class="volBox">
          <% if @user_supporters.present? %>
            <% @user_supporters.in_groups_of(3, false) do |user_support| %>
              <% for user in user_support %>
                <div class="supporters">
                  <% if user.friend.present? && user.friend.user_pictures.first.present? %>
                    <%= image_tag user.friend.user_pictures.first.image.url(:medium), style: "height: 65px;" %>
                  <% else %>
                    <%= image_tag 'noImg.jpg', alt: '' %>
                  <% end %>
                  <h2><% if user.friend.present? && user.friend.first_name.present? %>
                      <%= link_to user.friend.last_name_initial.capitalize, user_profile_path(:id => user.friend.id) %>
                    <% else %>
                      " "
                    <% end %>
                  </h2>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h2 align="center" style="margin: 100px;"><b><%= t(:no_supporter) %></b></h2>
          <% end %>
        </div>
      </div>
    <% end %>
	    <% if @post.present? || @posts.present? %>
      <div style="float:left; width:103%; padding:64px 0 0 0; overflow-y: scroll; height: 500px;">
        <% if @posts.present? %>
          <% @posts.each do |post|%>
            <div style="float:left; width:100%; padding:64px 0 0 0;">
              <div style="float:left; width:19%;">
                <div class="vol-img-lft">
                  <% if post.present? %>
                    <%= image_tag post.user.image.url(:medium), style: 'height: 180px; width: 180px;' %>
                  <% else %>
                    <%= image_tag 'noImg.jpg' %>
                  <% end %>
                </div>
                  <% if user_signed_in? %>
                    <% unless current_user.friendships.exists?(friend_id:post.user) %>
                      <%= link_to 'Support', support_path(:friend_id => post.user), :method => :post, :class=>"btn-black support" %>
                    <% else %>
                      <%= link_to 'Unsupport',unsupport_path(:friend_id => post.user), :method => :post, :class=>"btn-black unsupport"%>
                    <% end %>
                  <% else %>
                    <%= link_to 'Support', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
                  <% end %>
                  <% if user_signed_in? %>
                    <%= link_to ' Spread ', spread_post_path(:post_id => post.id), :method => :post, :class=>"btn-black support-btn"%>
                  <% else %>
                    <%= link_to ' Spread ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
                  <% end %>
                  <% if user_signed_in? && post.postable.present? && post.postable.open_to_the_public? %>
                    <%= link_to 'Join', support_path(:friend_id => post.user), :method => :post, :class=>"btn-black join"%>
                  <% else %>
                    <%= link_to ' Join ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
                  <% end %>
                  </div>
              <div class="vol-user-comment">
                <% if post.user.present? && post.present? %> <h4><%=post.user.full_name %> <% end %><span>volunteered for</span> <% if post.postable.present? %><%= post.postable.title %><% end %></h4>
                <span class="day-time-row"><strong><%= "%d " % "#{time_diff_for_post(post)[0]}" %></strong>days ago for <strong><%= "%d " % "#{time_diff_for_post(post)[1]}" %></strong>hours</span>
                <p class="vol-desc"><%= post.name %></p>
                <div class="vol-reply-sec">
                  <ul>
                    <% if post.present?  %>
                      <% @comments = post.comments.last(2) %>
                      <% @comments.each do |comment|%>
                        <%= render "comment", :comment => comment %>
                      <% end %>
                    <% end %>
                  </ul>
                  <div class="reply-form">
                    <%= form_for([post, post.comments.build], remote: true) do |f| %>
                      <div>
                        <%= f.text_field :commenter, :required => true , :id => "comment_commenter_#{post.id}" %>
                        <% if user_signed_in? %>
                          <%= f.button 'Reply', :class => 'btn-reply' %>
                        <% else %>
                          <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="vol-detail-row">
            <div class="vol-lft">
              <div class="vol-img-lft">
                <% if @post.present? && @post.user.present? && @post.user.user_pictures.present? && @post.user.user_pictures.first.image.present? %> <%= image_tag @post.user.user_pictures.first.image.url(:medium), style: 'height: 180px; width: 180px;'  %>
                <% else %>
                  <%= image_tag 'noImg.jpg' %>
                <% end %>
              </div>
                <% if user_signed_in? %>
                  <% unless current_user.friendships.exists?(friend_id:@post.user) %>
                    <%= button_to 'Support', support_path(:friend_id => @post.user), :method => :post, :class=>"btn-black support" %>
                  <% else %>
                    <%= button_to 'Unsupport',unsupport_path(:friend_id => @post.user), :method => :post, :class=>"btn-black unsupport", style: "margin-bottom: 15px;" %>
                  <% end %>
                <% else %>
                  <%= button_to 'Support', 'javascript:;', :class=>"btn-black support", :onclick => 'alert("Please Sign Up to support this user.");'%>
                <% end %>
                <% if user_signed_in? && current_user.posts.present? %>
                  <%= button_to ' Spread ', support_path(:friend_id => @post.user), :method => :post, :class=>"btn-black support-btn"%>
                <% else %>
                  <%= button_to ' Spread ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
                <% end %>
                <% if user_signed_in? && @post.postable.open_to_the_public?  %>
                  <%#= link_to 'Join', support_path(:friend_id => @post.user), :class=>"btn-black join"%>
                  <%= link_to 'Join', join_gigs_path(:id => @post.postable.id), data: { fancybox_width: 600 }, :class=>"fancybox btn btn-success btn-black join "%>
                <% else %>
                  <%#= link_to 'Join', new_user_registration_path, data: { fancybox_width: 600 }, class: 'fancybox btn btn-success btn-black join'%>
                  <%= button_to ' Join ', 'javascript:;', :class=>"btn-black support-btn", :onclick => 'alert("Please Sign Up to support this user.");'%>
                <% end %>
                </div>
          </div>
          <div class="vol-user-comment">
            <% if @post.present? && @post.user.present? %> <h4><%=@post.user.full_name %> <% end %><span>volunteered for</span> <% if  @post.present? && @post.postable.present?  && @post.postable_type_event? %> <%= @post.postable.title %><% end %></h4>
            <span class="day-time-row"><strong><%= "%d " % "#{time_diff_for_post(@post)[0]}" %></strong>days ago for <strong><%= "%d " % "#{time_diff_for_post(@post)[1]}" %></strong>hours</span>
            <p class="vol-desc"><%= @post.name %></p>
            <div class="vol-reply-sec" style="margin-top: 30px;">
              <ul>
                <li>
                  <% if @post.present? %>
                    <% @comments = @post.comments.last(2) %>
                    <% @comments.each do |comment|%>
                      <%= render "comment", :comment => comment %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
              <div class="reply-form">
                <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
                  <div>
                    <%= f.text_field :commenter, :required => true %>
                    <% if user_signed_in? %>
                      <%= f.button 'Reply', :class => 'btn-reply' %>
                    <% else %>
                      <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script>
	var player = new MediaElementPlayer('#player1');
</script>