<div class="volunteer-full float-full">
  <div class="fixed-wrapper">
    <!--<h3 class="left-hd">Available Volunteer Events</h3>-->
    <!--<h3 class="rgt-hd">Top 6 Glis Volunteers</h3>-->
    <div class="volunteer-row">
      <div class="vol-left-main">
        <h3 class="left-hd">Available Volunteer Events</h3>
        <% @events.each do |event| %>
          <div class="volunteer-lft">
            <div class="stay-icon"><% if event.image.present? %><%= image_tag event.image.url(:medium), alt: '' %><% else %><%= image_tag 'stay-icon.png', alt: '' %><% end %></div>
            <div class="stay-detail">
              <h5><%= event.title %></h5>
              <span class="date-small"><%= event.event_date.try(:strftime, '%B %d, %Y') %></span> <a href="#" class="btn-join">JOIN</a> </div>
          </div>
        <% end %>
      </div>
      <div class="volunteer-rgt">
        <h3 class="rgt-hd">Top 6 Glis Volunteers</h3>
        <% @volunteers.in_groups_of(2, false) do |volunteer| %>
          <ul>
            <% for vol in volunteer %>
              <li>
                <% if vol.image.present? %>
                  <%= image_tag vol.image.url(:medium), alt: '', style: 'height: 190px; width: 180px' %>
                <% else %>
                  <%= image_tag 'no-img.jpg', alt: '', style: 'height: 190px; width: 180px' %>
                <% end %>
                <span class="vol-name-over"> Jameson W. 300 Hours </span>
              </li>
              <!--<li> <%#= image_tag('no-img.jpg', alt: '') %> <span class="vol-name-over"> &nbsp; </span> </li>-->
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="vol-detail-row">
      <div class="vol-lft">
        <div class="vol-img-lft"> <%= image_tag @post.user.image.url(:medium) %></div>
        <% if user_signed_in? %>
        <% unless current_user.friendships.exists?(friend_id:@post.user) %>
          <%= link_to 'Support',support_path(:friend_id => @post.user), :method => :post, :class=>"btn-black"%>
        <% else %>
          <%= link_to 'Unsupport',unsupport_path(:friend_id => @post.user), :method => :post, :class=>"btn-black"%>
        <% end %>
        <% else %>
          <%= link_to 'Support', 'javascript:;', :class=>"btn-black", :onclick => 'alert("Please Sign Up to support this user.");'%>
        <% end %>
        <!--<a href="#" class="btn-black"> Support </a>-->
        <!--<a href="#" class="btn-black"> Spread </a>-->
        <%#= social_share_button_tag(@post.name, :popup => "true", :'data-type' => 'photo' , :url => "192.168.31.206:3000", :class => 'btn-black') %>
        <a class="btn-black" href="javascript:;" onclick="javascript:fbShare('<%= @post.event.image.url %>', '<%= @post.name %>', 'Facebook Share popup', '<%= @post.event.image.url %>', 520, 350)">Share</a>
        <% if user_signed_in? %>
          <%= link_to 'Join', {:controller => 'events', :action => 'show', :id => @post.event.id}, { class: 'btn-black' } %>
        <% else %>
          <%#= link_to 'Join', 'javascript:;', { class: 'btn-black' } %>
          <%= link_to 'Join', new_user_registration_path, data: { fancybox_width: 600 }, class: 'fancybox btn btn-success btn-black'%>
        <% end %>
        </div>
        <!--<a href="#" class="btn-black"> Support </a> <a href="#" class="btn-black"> Spread </a> <%#= link_to 'Join', class: 'btn-black' %><a href="#" class="btn-black"> Join </a> </div>-->
      <div class="vol-user-comment">
        <!--<h4>Jameson Welch <span>volunteered for</span> Habitat for Humanity</h4>-->
        <h4><%=@post.user.full_name %> <span>volunteered for</span> <%= @post.event.title %></h4>
        <% seconds = (TimeDifference.between(Time.now, Post.last.created_at).in_seconds.to_i) %>
        <% mm, ss = seconds.divmod(60) %>
        <% hh, mm = mm.divmod(60) %>
        <% dd, hh = hh.divmod(24)%>
        <!--<span class="day-time-row"><strong>3</strong> days ago for <strong>12</strong> hours</span>-->
        <span class="day-time-row"><strong><%= "%d days ago for %d hours" % [dd, hh] %> </strong></span>
        <p class="vol-desc"><%= @post.name %></p>
        <div class="vol-reply-sec">
          <ul>
            <li>
              <% unless @post.blank?  %>
                <% @comments = @post.comments.last(2) %>
                <% @comments.each do |comment|%>
                  <!--<div class="reply-img"> <%#= image_tag @post.user.image.url(:medium), style: 'height: 70px; width: 90px;' %></div>-->
                  <!--<div class="reply-desc">-->
                    <!--&lt;!&ndash;<h5>John Smith</h5>&ndash;&gt;-->
                    <!--<h5><%#= @post.user.full_name %></h5>-->
                    <!--&lt;!&ndash;<span>2 minutes ago</span>&ndash;&gt;-->
                    <!--<span><%#= time_ago_in_words(comment.created_at) + " ago" %></span>-->
                    <!--<p>-->
                      <%= render "comment", :comment => comment %>
                    <!--</p><br><hr>-->
                  <!--</div>-->
                <% end %>
              <% end %>
              <!--<div class="reply-img"> <%#= image_tag @post.user.image.url(:medium), style: 'height: 70px; width: 90px;' %></div>-->
              <!--<div class="reply-desc">-->
                <!--&lt;!&ndash;<h5>John Smith</h5>&ndash;&gt;-->
                <!--<h5><%#= @post.user.full_name %></h5>-->
                <!--<span>2 minutes ago</span>-->
                <!--<p>Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket-->
                  <!--prosciutto sausage ball tip salami pork chop cupim shank swine. […]</p>-->
              <!--</div>-->
            </li>
            <!--<li>-->
              <!--<div class="reply-img"> <%#= image_tag @post.user.image.url(:medium), style: 'height: 70px; width: 90px;' %></div>-->
              <!--<div class="reply-desc">-->
                <!--&lt;!&ndash;<h5>John Smith</h5>&ndash;&gt;-->
                <!--<h5><%#= @post.user.full_name %></h5>-->
                <!--<span>7 minutes ago</span>-->
                <!--<p>Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket-->
                  <!--prosciutto sausage ball tip salami pork chop cupim shank swine. […]</p>-->
              <!--</div>-->
            <!--</li>-->
          </ul>
          <div class="reply-form">
            <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
            <div>
              <%= f.text_field :commenter, :required => true %>
              <% if user_signed_in? %>
                <%= f.button 'Reply', :class => 'btn-reply' %>
              <% else %>
                <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
              <% end %>
            </div>
          <% end %>
            <!--<form action="" method="get">-->
              <!--<input name="" type="text">-->
              <!--<button class="btn-reply">Reply</button>-->
            <!--</form>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function fbShare(url, title, descr, image, winWidth, winHeight) {
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);
    window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
  }
</script>
