<link href="/assets/jquery-ui.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<script src="/assets/jquery-ui.js"></script>
<section id="midd-container">
  <div class="message-sec">
    <div class="fixed-wrapper">
      <div class="inbox">
        <div class="corner"></div>
        <h1 style="margin-top: 5px;">Inbox</h1>
        <div class="mail">
          <% if @email_message_recipients.present? %>
            <% @email_message_recipients.each do |emr| %>
              <a href="#"><img src="/assets/volImg.jpg"/>
                <div class="messDesc">
                  <h2><% if emr.present? %>
                      <%= link_to emr.email_message.user.last_name_initial, email_message_detail_path(:email_message_id => emr.email_message.id), remote: true %>
                    <% end %>
                  </h2>
                  <h3><% if emr.present? %><%= h truncate(emr.email_message.subject, :length => 10) if emr.email_message.subject.present? %><% end %></h3>
                  <h4>
	                  <span>
		                  <% if emr.email_message.created_at.present? %>
	                      <%= time_diff_for_email_message(emr.email_message)[0] > 0 ? ("%d " % "#{time_diff_for_email_message(emr.email_message)[0]}" + 'days') : '0 days'  %>
	                    <% end %>
	                  </span></h4>
                </div></a>
              <br/>
            <% end %>
          <% else %>
            <h1 style="text-align: center;"><b>No user notification </b></h1>
          <% end %>
        </div>
        <div class="email_message">
          <div class="message">
            <% if @email_message_recipients.present? %>
              <% if @email_message_recipients.last.email_message.user.profile_image.present? %>
                <%= @email_message_recipients.last.email_message.user.profile_image %>
              <% else %>
                <img src="/assets/volImg.jpg"/>
              <% end %>
            <% end %>
            <div class="messDesc">
              <% if @email_message_recipients.present? %>
                <h2>
                  <%= @email_message_recipients.last.email_message.user.last_name_initial.capitalize %>
                </h2>
              <% end %>
              <h3><% if @email_message_recipients.present? %> <%= @email_message_recipients.last.email_message.subject %><% end %></h3>
              <h4>
                <% if @email_message_recipients.present? %>
                  <% if time_diff_for_email_message(@email_message_recipients.last.email_message)[0] > 0 %><span><%= "%d " % "#{time_diff_for_email_message(@email_message_recipients.last.email_message)[0]}" %></span> days
                  <% end %>
                <% end %>
              </h4>
            </div>
            <br/>

            <div class="messCont">
              <% if @email_message_recipients.present? %>
                <h3><%= @email_message_recipients.last.email_message.message if @email_message_recipients.present? %></h3>
                </div>
                <div class="messReply">
                  <%= form_tag send_message_reply_path do %>
                    <%= hidden_field_tag :email_message_id, @email_message_recipients.last.email_message.id if @email_message_recipients.present? %>
                    <%= text_area_tag :message, nil, :required => true, :placeholder=> "Send A Reply...", :rows=> "4",  :columns=> "100" %>
                    <div class="messSend">
                      <%= submit_tag "Reply", :onclick => 'if($("#message").val() == ""){alert("Please fill out this message box.")}' %></div>
                  <% end %>
                </div>
              <% else %>
                <h1 style="text-align: center;"><b><%=t :no_user_notification %></b></h1>
              <% end %>
              </div>
        </div>
      </div>
</section>
<section id="midd-container">
  <div class="newmess-sec">
    <div class="fixed-wrapper">
      <div class="inbox">
        <div class="corner"></div>
        <h1 style="margin-top: 5px;">New Message</h1>
        <div class="newMess">
          <%= form_for @email_message, url: email_messages_path do |f| %>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: "alert alert-info" %>
            <% end %>
            <%= email_field_tag :email, nil, :required => true, :multiple => true, :placeholder => "To:" %> <br/>
            <%= hidden_field_tag :foundation_user_email, @foundation if @foundation.present? %>
            <%= f.text_field :subject, :required => true, :placeholder => "Subject:" %>
            <%= f.text_area :message, :required => true, :placeholder => "Send A Reply..."%>
            <%= f.submit "Send" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="midd-container">
  <div class="note-sec">
    <div class="fixed-wrapper">
      <div class="inbox">
        <div class="corner"></div>
        <h1 style="margin-top: 5px;">Notifications</h1>
        <div class="noteBox">
          <div id="accordion">
            <% if @email_message_recipients.present? %>
              <h3><%= image_tag("chat.svg", size: "20x20") %>&nbsp;&nbsp;&nbsp;You have a new message</h3>
              <div>
                <% @email_message_recipients.each do |user_notification| %>
                  <% if user_notification.email_message.message.present? %>
                    <h3>* <%= user_notification.email_message.message %><% end %>
                  By <% if user_notification.email_message.user.full_name.present? %><b><%= user_notification.email_message.user.full_name.capitalize %></b>
                  <% end %>
                  </h3>
                <% end %>
              </div>
            <% end %>
            <% if @user_friendrequests.present? %>
              <h3><%= image_tag("add-friend.svg", size: "20x20") %>&nbsp;&nbsp;&nbsp;You have a support request</h3>
              <div>
                <% @user_friendrequests.each do |user_friendrequest| %>
                  <h3> <b>* <%= find_fullname_by_id(user_friendrequest.user_id) %></b> has send you friend request.
                <% end %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Middle content ends here-->
<script language="javascript" type="text/javascript">
	$(document).ready(function() {
		var timeout = setInterval(autoRefresh_div, 10000);
		function autoRefresh_div()
		{
			$(".messCont").load(location.href+" .messCont");
			$(".messCont").load(location.href+" .messCont >*","");
		}
	});
	$("#accordion").accordion({
		active: false,
		autoHeight: false,
		navigation: true,
		collapsible: true,
		create: function(event, ui) { $("#accordion").show(); }
	});
	select_value = $('#foundation_user_email').val();
	$('#email').val(select_value);
</script>
<style>
	#ui-id-4 .note{
		background-color: white;
		border-bottom: none;
	}
</style>
