<section id="midd-container">
  <!--new volunteer section-->
  <div class="user-prf-sec">
    <div class="fixed-wrapper">
      <div class="user-prf-row1">
        <div class="user-prf-left">
          <div class="vol-img-lft"> <img src="/assets/volImg.jpg" alt=""> </div>
          <div class="user-prf-left-cont">
            <h2><%= @user.full_name.present? ? @user.full_name : 'Jameson Welch'  %></h2>
            <% if user_signed_in? && !current_user.friendships.exists?(friend_id:@user) %>
              <i class="add-icon"> <%= link_to image_tag('addIcon.jpg'), support_path(:friend_id => @user), :method => :post %> </i>
            <% else %>
              <i class="add-icon"><img src="/assets/addIcon.jpg" alt=""></i>
            <% end %>
            <span>Los Angeles, CA</span>
            <p style="font-family: 'GothamRndBook'";>
              <%= @user.description.present? ? @user.description : 'Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket prosciutto sausage ball tip salami pork chop cupim shank swine. Ball tip meatball jowl pork chop picanha. Andouille beef leberkas ham hock pancetta. Ball tip salami jowl meatloaf beef rump pork belly tongue shank boudin pancetta.'  %>
            </p>
          </div>
        </div>
        <div class="user-prf-rgt"> <strong>Volunteered:</strong>
          <p><span>300</span> times</p>
          <p><span>1000</span> hours</p><br/>
          <p><span>2136</span> Supporters </p>
        </div>
      </div>
    </div>
  </div>
  <!--photo section ends-->
  <% if @user.everyone_view_your_profile? %>
    <div class="volunteer-full float-full user-prf-vol">
      <div class="fixed-wrapper">
        <div class="user-photos-row">
          <ul>
            <% user_image_counter = 4 - @user.user_pictures.size %>
            <% if @user.user_pictures.present? %>
              <% @user.user_pictures.last(4).each do |user_image|%>
                <li><%= image_tag user_image.image.url, style: "height: 130px;width: 100%;" %></li>
              <% end %>
            <% end %>
            <% 1.upto(user_image_counter) do |i| %>
              <li><%= image_tag 'photo-img.jpg', alt: "" %></li>
            <% end %>
          </ul>
        </div>
        <div id="volunteers">
          <div class="corner"></div>
          <h1>My Supporters</h1><br/>
          <div class="volBox">
            <% if @user_supporters.present? %>
              <% @user_supporters.in_groups_of(3, false) do |user_support| %>
                <% for user in user_support %>
                  <div class="supporters">
                    <% if user.friend.present? && user.friend.user_pictures.first.present? %>
                      <%= image_tag user.friend.user_pictures.first.image.url(:medium), style: "height: 65px;" %>
                    <% else %>
                      <img src="/assets/noImg.jpg"/>
                    <% end %>
                    <h2><% if user.friend.present? && user.friend.first_name.present? %>
                        <%= link_to user.friend.last_name_initial.capitalize, user_profile_path(:id => user.friend.id) %>
                      <% else %>
                        John Smith
                      <% end %>
                    </h2>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <h2 align="center"> <b><%= t(:no_supporter) %></b> </h2>
            <% end %>
          </div>
        </div>
  <% end %>
  <!--mysupporters section ends-->
  <% if @user.everyone_view_your_profile? && @user.everyone_view_your_post? %>
    <div style="float:left; width:103%; padding:64px 0 0 0; overflow-y: scroll; height: 500px;">
      <% if @posts.present? %>
        <% @posts.each do |post|%>
          <div style="float:left; width:100%; padding:64px 0 0 0;">
            <div style="float:left; width:19%;">
              <div class="vol-img-lft"><% if !post.nil? %> <%= image_tag post.user.image.url(:medium), style: 'height: 180px; width: 180px;' %></div> <% end %>
                <% unless @user.friendships.exists?(friend_id:post.user) %>
                  <%= button_to 'Support', support_path(:friend_id => post.user), :method => :post, :class=>"btn-black support"%>
                <% else %>
                  <%= button_to 'Unsupport',unsupport_path(:friend_id => post.user), :method => :post, :class=>"btn-black support"%>
                <% end %>
                <%= button_to ' Spread ', spread_post_path(:post_id => post.id), :method => :post, :class=>"btn-black support"%>
                <% if post.user.present? && post.event.present? && post.event.open_to_the_public? %>
                  <%= link_to 'Join', support_path(:friend_id => post.user), :class=>"btn-black join"%>
                <% end %>
                </div>
            <div class="vol-user-comment">
              <% if !post.user.nil? %> <h4><%=post.user.full_name %> <% end %><span>volunteered for</span> <% if post.event.present? %><%= post.event.title %><% end %></h4>
              <span class="day-time-row"><strong><%= "%d " % "#{time_diff_for_post(post)[0]}" %></strong>days ago for <strong><%= "%d " % "#{time_diff_for_post(post)[1]}" %></strong>hours</span>
              <p class="vol-desc"><%= post.name %></p>
              <div class="vol-reply-sec">
                <ul>
                  <% unless post.blank?  %>
                    <% @comments = post.comments.last(2) %>
                    <% @comments.each do |comment|%>
                      <%= render "events/comment", :comment => comment %>
                    <% end %>
                  <% end %>
                </ul>
                <div class="reply-form">
                  <%= form_for([post, post.comments.build], remote: true) do |f| %>
                    <div>
                      <%#= f.hidden_field :comment_id, :value => post.id %>
                      <%= f.text_field :commenter, :required => true , :id => "comment_commenter_#{post.id}" %>
                      <% if user_signed_in? %>
                        <%= f.button 'Reply', :class => 'btn-reply' %>
                      <% else %>
                        <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div style="float:left; width:100%; padding:64px 0 0 0;">
          <div style="float:left; width:19%;">
            <div class="vol-img-lft"><% if @post.user.user_pictures.first.image.present? %> <%= image_tag @post.user.user_pictures.first.image.url(:medium), style: 'height: 180px; width: 180px;' %><% else %><%= image_tag 'no-img.jpg' %></div> <% end %>
              <% unless @user.friendships.exists?(friend_id:@post.user) %>
                <%= button_to 'Support', support_path(:friend_id => @post.user), :method => :post, :class=>"btn-black support"%>
              <% else %>
                <%= button_to 'Unsupport',unsupport_path(:friend_id => @post.user), :method => :post, :class=>"btn-black unsupport"%>
              <% end %>
              <%= button_to 'Spread', spread_post_path(:post_id => @post.id), :method => :post, :class=>"btn-black support"%>
              <% if @post.event.open_to_the_public? %>
                <%= link_to 'Join', support_path(:friend_id => @post.user), :class=>"btn-black join"%>
              <% end %>
              </div>
        </div>
        <div class="vol-user-comment">
          <% if !@post.user.nil? %> <h4><%=@post.user.full_name %> <% end %><span>volunteered for</span> <%= @post.event.title %></h4>
          <span class="day-time-row"><strong><%= "%d " % "#{time_diff_for_post(@post)[0]}" %></strong>days ago for <strong><%= "%d " % "#{time_diff_for_post(@post)[1]}" %></strong>hours</span>
          <p class="vol-desc"><%= @post.name %></p>
          <div class="vol-reply-sec">
            <ul>
              <li>
                <% unless @post.blank?  %>
                  <% @comments = @post.comments.last(2) %>
                  <% @comments.each do |comment|%>
                    <%= render "events/comment", :comment => comment %>
                  <% end %>
                <% end %>
              </li>
            </ul>
            <div class="reply-form">
              <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
                <div>
                  <%= f.text_field :commenter, :required => true %>
                  <% if user_signed_in? %>
                    <%= f.button 'Reply', :class => 'btn-reply' %>
                  <% else %>
                    <%= f.button 'Reply', :class => 'btn-reply', :onclick => 'alert("Please Sign Up to comment on this event.");' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
      </div>
      </div>
  <% end %>
  </div>
</section>