<div class="simple-calendar">
	<div>
	<div class="pre_next">
    <%= link_to "", url_for(params.merge(start_date: date_range.first - 1.day, previous_link:  "previous_link") ), remote: true, class:'arrow_left', style: 'float: left; margin-top: 3px;"' %>
	  <h2 style="float:left;font-size: 22px;font-family: proxima_nova_rgbold;"><strong><%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %></strong> </h2>
	  <%= link_to "", url_for(params.merge(start_date: date_range.last + 1.day, next_link:  "next_link")), remote: true, class:'arrow_right', style: 'float: left; margin-top: 3px;"' %>
</div>
  <div class="event_title">
    <h1>Event Calendar </h1>
  </div>
	</div>
 <div>
	 <table class="dayname_header" style="border: 0px solid gray;margin-left: 198px; margin-bottom: 0;">
		 <tr>
		   <th>MON</th>
		   <th>TUES</th>
		   <th>WED</th>
		   <th>THURS</th>
		   <th>FRI</th>
		   <th>SAT</th>
		   <th>SUN</th>
		 </tr>
	 </table>
  <table class="table table-striped" style="border-collapse: separate;border-spacing: 8px;*border-collapse: expression('separate', cellSpacing = '10px');">
    <thead>
      <!--<tr>-->
        <!--&lt;!&ndash;<%# date_range.slice(0, 7).each do |day| %>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<th><%#= I18n.t("date.abbr_day_names")[day.wday] %></th>&ndash;&gt;&ndash;&gt;-->
      <!--</tr>-->
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <%# unless @next_month_event.blank? %>
      <div class="latest_event">
        <h2>Today's Schedule</h2>
        <% if @today_gigs.present? %>
          <% @today_gigs.each do |today_gig|%>
            <h3> <%= today_gig.start_time.try(:strftime, '%b %dth, %Y') %> </h3>
            <h4><%= today_gig.title.titleize %></h4>
          <% end %>
        <% else %>
          <%= t(:today_no_event)%>
        <% end %>
        <hr />
        <h2>Upcoming Gigs</h2>
        <% if @next_month_event.present? %>
          <% @next_month_event.each do |next_event|%>
            <h3> <%= next_event.start_time.try(:strftime, '%b %dth, %Y') %> </h3>
            <h4><%= next_event.title.titleize %></h4>
          <% end %>
        <% else %>
          <%= t(:next_month_no_event)%>
        <% end %>
        <hr />
        <h2>Past Gigs</h2>
        <% if @past_gigs.present? %>
          <% @past_gigs.each do |past_gig|%>
            <h3> <%= past_gig.start_time.try(:strftime, '%b %dth, %Y') %> </h3>
            <h4><%= past_gig.title.titleize %></h4>
            <hr />
          <% end %>
        <% else %>
          <%= t(:past_month_no_event)%>
        <% end %>
      </div>
      <%# end %>
    </tbody>
  </table>
</div>
<script>
	$(document).ready(function(){
		$( "td.day").css({"border-radius": "11px", "background": "#73AD21", "padding": "0px","height": "150px;"  });
		$( "td.day.today ").css({"border-radius": "11px", "background": "#89BBF5", "padding": "0px","height": "150px;"  });
	});
</script>
  <hr />

  <%= render 'events/form' %>
