<div class="simple-calendar">
	<div>
	<div class="pre_next">
    <%= link_to "", url_for(params.merge(start_date: date_range.first - 1.day)), remote: true, class:'arrow_left', style: 'float: left; margin-top: 3px;"' %>
	  <h2 style="float:left;font-size: 22px;font-family: proxima_nova_rgbold;"><strong><%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %></strong> </h2>
	  <%= link_to "", url_for(params.merge(start_date: date_range.last + 1.day)), remote: true, class:'arrow_right', style: 'float: left; margin-top: 3px;"' %>
</div>
  <div class="event_title">
    <h1>Event Calendar </h1>
  </div>
	</div>
 <div>
	 <table class="dayname_header" style="border: 0px solid gray;margin-left: 198px; margin-bottom: 0;">
		 <tr>
		   <th>MON</th>
		   <th>TUES</th>
		   <th>WED</th>
		   <th>THURS</th>
		   <th>FRI</th>
		   <th>SAT</th>
		   <th>SUN</th>
		 </tr>
	 </table>
  <table class="table table-striped" style="border-collapse: separate;border-spacing: 8px;*border-collapse: expression('separate', cellSpacing = '10px');">
    <thead>
      <!--<tr>-->
        <!--&lt;!&ndash;<%# date_range.slice(0, 7).each do |day| %>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<th><%#= I18n.t("date.abbr_day_names")[day.wday] %></th>&ndash;&gt;&ndash;&gt;-->
      <!--</tr>-->
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% unless @latest_month_event.blank? %>
      <div class="latest_event">
        <% @latest_month_event.each do |latest_event|%>
          <h3> <%= latest_event.event_date.try(:strftime, '%B %d, %Y') %> </h3>
          <h4><%= latest_event.title.titleize %></h4>
          <hr />
        <% end %>
      </div>
    <% end %>
 </div>
    </tbody>
  </table>
</div>
<style>
	.pre_next{
		height: 65px;
		margin-top: 30px;
		float: right;
		color: green;
		font-weight: 900;
		margin-right: 30px;
	}
	.latest_event {
		float: left;
		width: 16%;
		height: 80%;
		border: 3px solid gray;
		border-radius: 10px;
		margin-left: 25px;
		margin-top: 0px;
		padding: 8px;
		text-align: justify;
	}
	.event_title {
		float: left;
		color: black;
		margin-left: 20px;
		margin-right: 320px;
		padding: 5px;
		border-left: 3px solid gray;
		position: relative;
		padding-right:3px;
		color: gray;
		margin-top: 25px;
		font-family: proxima_novasemibold;
		font-size: 14px;
	}
	.event_title:after {
		content: "";
		display:block;
		width:18%;
		height:3px;
		padding:0;
		margin:0;
		background-color:gray;
		position: absolute;
		left:-3px;;
		top:-1px;
	}
	.event_title h1{
		color: black;
	}
	.arrow_right {
		width: 0;
		height: 0;
		border-bottom: 5px solid transparent;  /* left arrow slant */
		border-top: 10px solid transparent; /* right arrow slant */
		border-left: 21px solid green; /* bottom, add background color here */
		font-size: 0;
		line-height: 0;
		margin-left: 10px;;
	}
	.arrow_left {
		width: 0;
		height: 0;
		border-bottom: 5px solid transparent;  /* left arrow slant */
		border-top: 10px solid transparent; /* right arrow slant */
		border-right: 21px solid green; /* bottom, add background color here */
		font-size: 0;
		line-height: 0;
		margin-right: 10px;;
	}
</style>
<script>
	$(document).ready(function(){
		$( "td.day").css({"border-radius": "11px", "background": "#73AD21", "padding": "0px","height": "150px;"  });
		$( "td.day.today ").css({"border-radius": "11px", "background": "red", "padding": "0px","height": "150px;"  });
	});
</script>
